[2017-03-24 02:11] chiragadm opened #4 "Post request error:"
Hi,
    I am having issue running any of the example scripts. I have updated PYU4V.conf file with appropriate information (username, password, server_ip, port, array). I have also added SSL certification.

Initially, I got an error relating to cert variable listed below. I believe, we need to add "cert=/path-to-file/uni_server.pem" in "PYU4V.conf" file instead of "verify=/path-to-file/uni_server.p

[2017-03-24 08:34] rawstorage commented on #4
The problem may be your python version. Items function which is used by these scripts requires version 3 you are on 2.7

Also verify that the array ID is set correctly in the config file and that this array if registered for performance collection with the unisphere instance you are pointing against.

Note array ID requires all preceeding 0 in the serial, so don't shorten like yoiu would with CLI

[2017-03-24 14:57] chiragadm commented on #4
Hi,
   Thank you so much for prompt response. I have installed python 3.6.1 and ran the script. However, I am getting similar error. It is listed below. Following is my PYU4V.conf file.

#########################################################################
[setup]
; enter the below details - mandatory
;(can be passed as parameters on initialisation also)
username=smc
password=somepassword
serv

[2017-03-24 15:24] rawstorage commented on #4
Can you verify the version of Unisphere you are using?, I’ve tested with 8.2/8.3/8.4 although future.  Also are you 100% sure the array in question is registered for performance stats.  You can verify which arrays are registered for performance with your Unisphere server from the following endpoint via the REST client, I haven’t added this one to the github yet.

https://IPaddress:8443/univmax/res

[2017-03-24 17:47] chiragadm commented on #4
Hi,
     I am using U4V version 8.2.0.12 (It is the version that address strusts vulnerability).
     Frame that I am querying is registered in performance. I am able to successfully query (POST) https://testing.example.com:8443/univmax/restapi/performance/FEDirector/keys using chrome/firefox browers from same host.

[2017-03-24 20:59] chiragadm commented on #4
Hi,
   I just wanted to let you know. I was able to resolve this issue. I had to replace "self.cert = cert" with "self.cert = None" in PyU4V/rest_requests.py  file.

I really appreciate all the feedback.

[2017-03-25 08:31] rawstorage commented on #4
Excellent. Glad you're back on track :)

Sent from my Samsung device

-------- Original message --------
From: chiragadm <notifications@github.com>
Date: 24/03/2017 8:59 PM (GMT+00:00)
To: ciarams87/PyU4V <PyU4V@noreply.github.com>
Cc: "Martin, PaulE (Ireland)" <paule.martin@emc.com>, Comment <comment@noreply.github.com>
Subject: Re: [ciarams87/PyU4V] Post request error: (#4)

Hi,
I just wanted to

[2017-06-13 19:08] emichaelis opened #5 "snap_data definition in rest_univmax.link_gen_snapshot redundant braces"
The snap_data definition in rest_univmax.link_gen_snapshot appears to be syntactically incorrect; it generates a syntax error in Python 2.6 and a type error in Python 2.7.5. The specific code is:

    snap_data = ({{"action": "Link",
                   "link": {"linkStorageGroupName": link_sg_name},
                   }})

It appears there is an extra set of braces surrounding the dictionary defin

[2017-06-29 18:23] mallilinux1978 opened #6 "provisioning with cyliners"
can this module support capacity provisioning using cylinders? if not can this be functionality added into this module?

[2017-07-24 13:25] ciarams87 commented on #6
Yes, this supports capacity provisioning using cylinders. On the methods 'create_non_empty_storage_group' and 'add_new_vol_to_storagegroup', simply pass in 'CYL' in for the capUnit; e.g. u4v.add_new_vol_to_storagegroup('my_sg', '2', '2000', 'CYL).

[2017-07-24 13:26] #6 closed, assigned to nobody

[2017-07-24 13:27] ciarams87 commented on #5
Thank you, I will fix this.

[2017-07-25 15:31] mallilinux1978 opened #9 "PyU4V latest in Pypi"
Hi, whatever i find in PyPI (https://pypi.python.org/pypi/PyU4V/1.0.2) is bit outdated I believe. Any idea when it will have latest code?

thanks,
Mallik.

[2017-07-25 15:39] ciarams87 commented on #9
Hi Mallik,

I will be creating a new pip release in the next few days, The next release will also include Unisphere version 8.4 functionality.

Many thanks,
Ciara

[2017-07-25 15:39] #9 closed, assigned to nobody

[2017-08-03 07:54] mallilinux1978 opened #10 "Make Request Timeout user parameter and remove log init in libraries."
Improvement #1.

Make logging centrally configurable by main program? Such away user application will have logging control to tune log levels. Also user does not need make code changes.

Can you replace :

CONF_FILE = "PyU4V.conf"
LOG = logging.getLogger("PyU4V")
logging.config.fileConfig(CONF_FILE)

with

LOG = logging.getLogger(__name__)

Improvement #2 .

Introduce method in rest_univmax to ove

[2017-09-20 13:07] nimeob opened #11 "setup.py with error"
Line 11 needs to be
`packages=['PyU4V', 'PyU4V.utils'],`
to include utils aswell.

[2017-09-20 13:09] nimeob opened #12 "rest_univmax2.py"
Line 636 and 637 need to be
[code]
instead of
[code]
You don't create a host. You create a hostgroup.

[2017-09-25 11:58] nimeob commented on #12
Also Line 1424 needs to be
`return self.modify_resource(
            self.array_id, SLOPROVISIONING, 'storagegroup', edit_sg_data,
            version=None, resource_name=sg_id)`
instead of
`return self.modify_resource(
            self.array_id, SLOPROVISIONING, 'host', edit_sg_data,
            version='', resource_name=sg_id)`

There are two errors in this line

[2017-09-25 16:18] ciarams87 commented on #10
Thanks @mallilinux1978, I will make these improvements

[2017-09-25 16:18] ciarams87 commented on #11
Thanks @nimeob, I will make this change

[2017-09-25 16:20] ciarams87 commented on #12
Thanks @nimeob, I will update these

[2017-09-26 14:21] ciarams87 commented on #12
Thanks @nimeob for highlighting and fixing these! Ciara.

[2017-09-26 14:21] #12 closed, assigned to nobody

[2017-09-26 14:21] ciarams87 commented on #11
Thanks @nimeob for highlighting and fixing these! Ciara.

[2017-09-26 14:21] #11 closed, assigned to nobody

[2017-10-05 15:45] #4 closed, assigned to nobody

[2017-10-05 15:45] ciarams87 commented on #5
This has been fixed

[2017-10-05 15:45] #5 closed, assigned to nobody

[2017-10-06 14:09] ciarams87 commented on #10
New version released, hopefully the revisions meet your needs. Thanks for your feedback, Ciara

[2017-10-06 14:09] #10 closed, assigned to nobody

[2018-01-17 21:20] kako420 opened #14 "support 8.2 version?"
ru=PyU4V.RestFunctions(username="smc",password="smc",server_ip="xxxx",verify=False,port=8443,array_id="xxxxx",u4v_version='82')
print ru.get_symmetrix_array()
2018-01-17 16:11:00,879 - PyU4V.rest_requests - INFO - GET request to https://xxxx:8443/univmax/restapi/82/system/symmetrix has returned with a status code of: 500

tried this way as well..

ru = PyU4V.rest_functions()
ru.get_symmetrix_array

[2018-01-18 09:37] rawstorage commented on #14
This is working as designed, if you are using version prior to 8.4 you should import the rest_functions class which is contained in rest_univmax.py function library.  This is also called out in the readme.

There were major changes in versioning at 8.4 which shipped all endpoints under /84/ version, prior to this only newly added calls were under /82 /83 etc.  This was confusing for consumers of t

[2018-01-18 10:42] kako420 commented on #14
i tried PyU4V.rest_functions() with 8.2 and got those error, will retry and update.

[2018-01-18 10:50] rawstorage commented on #14
with rest_functions, can you try without passing a version.

I tried the following code and it works just fine

from PyU4V import rest_univmax
ru=rest_univmax.rest_functions()

print (ru.get_symmetrix_array())

Output
({'symmetrixId': ['000197000008', '000197800085', '000197800131', '000198701161', '000296700558'], 'num_of_symmetrix_arrays': 5, 'success': True}, 200)

Process finished with exit co

[2018-01-25 15:05] kako420 commented on #14
thanks, it is working fine. creating project based on this API and let you know if we see any issue.
thank you very much for this great work

[2018-02-02 13:33] cocampbe opened #15 "Documentation and issue"
Installing version 3 does not seem to be documented. I did a pull, but had to figure out how to install it. It would be useful to have this on the main project page.

On to my issue. I am running OL6. All RHEL6 flavors use python 2.6.6. You can enable software collections, but that has it's own set of unique obstacles. Anyway. I ran

 `python setup.py install`

That installed PyU4V, but the sample

[2018-02-02 13:36] cocampbe commented on #15
pip shows version 3 after installing via setup.

versus an actual pip install

[2018-02-02 13:39] rawstorage commented on #15
court, 3.0 is a work in progress branch, the 2.2.6 branch on PiP is the one we would reccomend you use for now.   The 2.0 setup can be found on here.
https://github.com/ciarams87/PyU4V/tree/stable/2.0

[2018-02-02 13:59] cocampbe commented on #15
That's funny!

I will check out version 2.

[2018-02-02 14:08] rawstorage commented on #15
Court,
if you're just getting started maybe version 3 would be good, this will be our maintained branch in the future and to switch over function names in scripts will be updated.

Thanks for pointing out that comment, we'll reword.  There is still some work going on around documentation and testing before we officially release this branch.

[2018-02-06 16:03] rawstorage commented on #15
Court, I'll mark this issue as resolved since our exchange looks like you're up and running now.

[2018-02-06 16:03] #15 closed, assigned to nobody

[2018-02-06 16:04] #14 closed, assigned to nobody

[2018-03-21 12:22] Kay-Kay83 opened #20 "Unable to import PyU4V"
Hello,

I am a novice and hence the question. I am trying to import the PyU4V library and it errors out with a syntax error at the location with the statement

[code]
The error that I see is

[code]
Is there a trick that I missing here?, I generally have been working on other API's and haven't seen such problems there.

I would appreciate any help with respect to this error.

Regards,
KayK

[2018-03-26 14:29] ciarams87 commented on #20
Hi KayK,

I don't think I'm exactly sure what your issue is. When you say you are trying to import the library, do you mean that the error is occurring when you use the import statement, i.e. 'import PyU4V'?, or when you try and call that particular function? If it is at the import stage, how did you install the library?

It might help to refer to the documentation: http://pyu4v.readthedocs.io/en/

[2018-04-16 15:32] kako420 opened #21 "Logging setup"
do we have document to setup log file?
this is not a issue just need information only

i see options in config file but not able to make it work.

[2018-04-17 08:08] ciarams87 commented on #21
Hi kako420,
There is actually an issue with the logging configuration I am currently working on - I will have a fix (and appropriate documentation) uploaded in the next couple of days.
Thanks,
Ciara

[2018-04-17 11:38] ciarams87 commented on #21
Hi Kako420,
I have fixed the minor issue with the configuration file, so it should be work correctly now.

The logging can be setup any way that suits your project by entering the required parameters in the configuration file - please see https://docs.python.org/2/library/logging.config.html#logging-config-fileformat . The code will pick up any options set here.

Thanks for using PyU4V!
Ciara

[2018-04-17 11:38] #21 closed, assigned to nobody

[2018-08-07 16:15] edgaruribe369 commented on #20
Salutations,

I am also having the same issue with Python3.7. I keep getting a SyntaxError:

**"......./PyU4V/provisioning.py", line 133
    host_flags=None, init_file=None, async=False):**
                                                                    ^
This happens promptly after my import line:

**from PyU4V import U4VConn**

I've installed everything as you have mentioned in your document

[2018-08-08 09:25] ghost commented on #20
Hi Edgar,

PyU4V is built to run with Python 2.7 or 3.6 at present as dictated by the coverage of the Tox tests, if you downgrade your Python version to one of those two you should have no further issues.

Thanks
Michael

[2018-08-08 09:25] #20 closed, assigned to nobody

[2018-08-08 14:01] cocampbe opened #23 "Cannot delete storage group"
Unisphere version is 90. Getting this error on trying to delete an SG.

May be possible that 84 rest calls are not working against 90. Need to do more digging.

[2018-08-08 14:31] ghost commented on #23
There should be no issues using Unisphere REST API /84 endpoints with /90, they have been purposefully kept the same so as to not break any existing scripts which may be using them.

If you happen to see this behaviour re-occurring send over the logs associated with the operation you are trying to carry out so we can get a better look at what is going on.

[2018-08-09 12:10] cocampbe commented on #23
I am using the defaults from the example conf file.

I am not seeing the log under my home directory. I am just running the commands in IDLE at this point. Still getting the same error. I am not seeing much on logging on readthedocs.

[2018-08-09 14:05] cocampbe commented on #23
I am running the following command.

`conn.provisioning.delete_storagegroup('TEST_SG')`

My understanding is that I only need to supply the SG name. The SG is not in a masking view. For grins I added a few print statements to common.py:

[code]

The URI is good, but the kwargs is None.

[2018-08-09 14:29] cocampbe commented on #23
I resolved the issue. Code in provisioning.py:

[code]

Changed to:

[code]

delete worked after adding 'resource_name='. On another note. I noticed that for almost all the delete_* functions, the 'resource_name=' is missing. Might be an issue.

[2018-08-16 14:24] cocampbe commented on #23
Any update? Haven't heard back in a while.

[2018-08-16 15:14] rawstorage commented on #23
Sorry Court, will have a look at this today,

[2018-08-16 18:28] cocampbe commented on #23
No worries. Since you guys already did all the magic, I was hoping to incorporate your module into some ansible modules for VMAX. I found the VMAX rest api doc to be lacking. I couldn't figure out how to create a tdev via the docs. I then lokoed at your code and found it. So I figured, why recreate the wheel. Great module!

[2018-08-17 13:28] rawstorage commented on #23
Court changes have been merged back into master branch, I found a few more that needed it, thanks for pointing this out.

[2018-08-17 13:28] #23 closed, assigned to nobody

[2018-08-30 16:29] jonmetzger opened #24 "PyU4V.conf not read in home directory"
Running Python 2.7.13 on Linux, the file \~/.PyU4V/PyU4V.conf isn't parsed when initializing a new U4VConnection.  It appears tilde expansion isn't happening on line 20 of utils/config_handler.py.  It works when I change the line from global_path = os.path.normpath('\~/.PyU4V/PyU4V.conf') to global_path = os.path.expanduser('\~/.PyU4V/PyU4V.conf').

[2018-09-03 05:11] tokagerous opened #25 "get_volume_list fails after 1000 volumes"
As the max_page_size=1000, code retrieves from below code.
` vol_page = self.common.get_iterator_page_list(
                        iterator_id, start, end)`
The problem seems to be at the iterator id, as no contents are available at retrieved id uri.

[2018-09-04 14:35] ghost commented on #25
Hi There,

Can you please provide some debug logs? Any call to the Unisphere REST API will return an ID which is used in the iterator if the count is more than the max page size. Example:

[code]

You can also try to replicate the call using the [Unisphere REST client](https://community.emc.com/docs/DOC-46344) to see the raw JSON response.

[2018-09-23 09:52] saraop opened #26 "Unable to install PyU4V"
Hi Team,

I am unable to install PyU4V. Getting the below error. Please assist.

Sun 09/23/2018 19:35:25.26 C:\mydata >>>pip install PyU4V
Collecting PyU4V
  Retrying (Retry(total=4, connect=None, read=None, redirect=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.requests.packages.urllib3.connection.Veri
  Retrying (Retry(total=3, connect=None, read=None, redirect=None)) after

[2018-09-23 16:18] rawstorage commented on #26
Hi the problem appears to be woth the version of python you are using. Try 2.7 or 3.6

[2018-10-04 10:38] ghost commented on #25
Hi There,

I am closing this out due to inactivity. If the issue remains please re-open and include the required information from my first response.

Thanks
Michael

[2018-10-04 10:38] #25 closed, assigned to nobody

[2018-10-04 11:00] ghost commented on #24
Hi Jon,

I have tried to replicate this but I am not seeing the same behavior. The file 'PyU4V.conf' needs to be in your working directory, maybe that was the cause of the issue you were seeing.

Closing this as non-issue.

Thanks
Michael

[2018-10-04 11:00] #24 closed, assigned to nobody

[2018-10-04 11:03] ghost commented on #26
Hi PR,

I cannot replicate this issue on my own Windows machine. The connection error could be local to your machine or it could have been a temporary issue with PyPi. I suggest trying again and ensuring you are using the correct version of Python as indicated by Paul in the previous comment.

C:\Python27\Scripts>pip install PyU4V
Collecting PyU4V
  Downloading https://files.pythonhosted.org/packa

[2018-10-04 11:03] #26 closed, assigned to nobody

[2018-10-06 04:30] vmaxpy opened #27 "split leading to SRDF failover when using modify_storagegroup_srdf"
Hi ,

In recent times i started using and i am new to PyU4V  module , when i tried to send
 split command using this line - conn.replication.modify_storagegroup_srdf('autodr_test_r1_SG','split','9')
but its making the SG to go failed over not the split .

can you help  and let me know what am i missing ?

[2018-10-09 07:48] tonyfts opened #28 "failed to delete masking view"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.4/dist-packages/PyU4V/provisioning.py", line 540, in delete_masking_view
    self.array_id, SLOPROVISIONING, 'maskingview', maskingview_name)
  File "/usr/local/lib/python3.4/dist-packages/PyU4V/common.py", line 464, in delete_resource
    self.check_status_code_success(operation, status_code, m

[2018-10-09 07:49] tonyfts opened #29 "failed to get the IG from initiator"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.4/dist-packages/PyU4V/provisioning.py", line 403, in get_initiator_group_from_initiator
    init_details = self.get_initiator(initiator)
  File "/usr/local/lib/python3.4/dist-packages/PyU4V/provisioning.py", line 319, in get_initiator
    resource_name=initiator_id)
  File "/usr/local/lib/python

[2018-10-09 09:32] ghost commented on #27
Hi There,

Aside from the examples included in the repo you can also look at my colleagues article on replication with PyU4V here: https://community.emc.com/people/PaulCork/blog/2017/02/07/unisphere-for-vmax-rest-api-examples-episode-3-return-of-the-srdf

This may be of help with your use-case, if not ask a question on the community forums :)

Michael

[2018-10-09 09:34] #27 closed, assigned to nobody

[2018-10-09 09:36] ghost commented on #28
Hi Tony,

These issues are known to happen, the error code is 500 which is defined as "500 Internal Server Error is a very general HTTP status code that means something has gone wrong on the server, but the server could not be more specific on what the exact problem is."

Did you try to run the operation again, implement a retry mechanism, or check Unisphere to see if the MV was deleted? This is n

[2018-10-09 09:43] tonyfts commented on #28
This issue was fixed.
Open（/usr/local/lib/python3.4/dist-packages/PyU4V/provisioning.py）file, modify following line:
      self.delete_resource(self.array_id, SLOPROVISIONING, 'maskingview', maskingview_name)
to
      self.delete_resource(self.array_id, SLOPROVISIONING, 'maskingview', resource_name=maskingview_name)

[2018-10-09 09:50] ghost commented on #29
Hi Tony,

You need to ensure that you are passing in the correct Initiator ID format, 000297800192:21000024ff34cefd is incorrect they are in a format such as FA-2D:5:10000000c9768497.

Thanks
Michael

[2018-10-09 09:50] #29 closed, assigned to nobody

[2018-10-09 09:58] tonyfts commented on #29
Yes, the parameter should be 'FA-2D:24:10000000c99a97e2', so following command is OK.
conn.provisioning.get_initiator_group_from_initiator('FA-2D:24:10000000c99a97e2')

thanks.

[2018-10-09 10:45] ghost commented on #29
No problem happy to hear it was a simple solution!

[2018-10-09 10:47] ghost commented on #28
Thanks for the update, are you confident enough to make a pull request for the change along with a simple unit test for the change? I will merge it to master then so the fix is made permanent for all users.

[2018-10-09 10:56] tonyfts commented on #28
Yes, I test it, and run OK.
and those functions: delete_host, delete_portgroup, delete_storagegroup also need to modify as below:

self.delete_resource(self.array_id, SLOPROVISIONING, 'maskingview', maskingview_name)
---> self.delete_resource(self.array_id, SLOPROVISIONING, 'maskingview', resource_name=maskingview_name)

self.delete_resource(self.array_id, SLOPROVISIONING, 'portgroup', portgroup_i

[2018-10-09 11:05] ghost commented on #28
Ok thanks for highlighting these! I had to make some changes to how we construct our URIs in the code so these were missed. Feel free to create a pull request to apply the changes (with unit tests), if you cannot get to it I will make the change myself when I get some free time in the coming days.

[2018-10-26 03:30] lyutian opened #30 "target_uri can't handle the new URL without version number."
https://github.com/ciarams87/PyU4V/blob/39ea3c7e5f1f5f1635a1d92cadeb60cef786c803/PyU4V/common.py#L511

Thanks Ciara for your useful lib. I just found some issues that may need to improve.

The URL format here means that we can't use this kind URL `/sloprovisioning/symmetrix/xxx`.
Even we define `U4V_VERSION = None`, the URL `//sloprovisioning/symmetrix/xxx` can't be accepted by VMAX.

So, build UR

[2018-10-31 23:30] mrhorrible78 commented on #25
I ran into this issue too, but I think I found the issue and submitted the attached PR for it. #31

[2018-11-22 17:56] fabriba opened #32 "get_iterator_page_list"
latest version has a bug in target_uri = 'common/Iterator/{}/page'.format(iterator_id)

it should be

target_uri = '/common/Iterator/{}/page'.format(iterator_id)

[2018-11-22 18:25] fabriba opened #33 "get_volume_list"
for vol in vol_page['result']:
                        vol_id_list.append(vol['volumeId'])

is incorrect: it should be:

for vol in vol_page:
                        vol_id_list.append(vol['volumeId'])

[2018-11-27 12:28] rawstorage commented on #32
Implemented locally and running unit tests

[2018-11-27 12:39] rawstorage commented on #32
Verified and implemented

[2018-11-27 12:39] #32 closed, assigned to nobody

[2018-11-28 10:12] ghost commented on #30
Hi Lyutian,

This is expected behaviour, it is advised not to use the non-versioned endpoints as they are from a version of the REST API used many moons ago, stick to /84 (default) or /90 for the most recent end-points and functionality/fixes.

Thanks
MIchael

[2018-11-28 10:12] #30 closed, assigned to nobody

[2018-11-28 10:35] ghost commented on #33
Hi Fabriba,

Just checked this,  when a call is made to the iterator the following response format is returned:

{
  "result": [
    {
      "volumeId": "003E9"
    },
    ...]
}

So the original format is correct, the result list needs to be iterated through not the vol_page response as it only contains one list.

[2018-11-28 10:45] ghost commented on #33
Sorry, just seen where this issue stems from, the iterator call is extracting the results in advance of returning it.

[2018-11-28 10:52] ghost commented on #33
Issue fixed, will be included in next minor version release (3.0.0.8)

[2018-11-28 10:52] #33 closed, assigned to nobody

[2018-11-28 10:55] ghost commented on #28
This has been fixed and will be included in the next minor version release (3.0.0.8)

[2018-11-28 10:55] #28 closed, assigned to nobody

[2019-03-13 14:25] TorpedoAway opened #35 "Providing a symid for initial connection"
Creating a connection requires specifying a symid known to the Unisphere host I'm trying to connect to. This is an issue for me because I've written a script to iterate over 4 Unisphere servers and collect performance data from 12 VMAX arrays. It would be nicer if I didn't need to know which arrays were on each unisphere server in advance. If I could connect without the symid, I could then use get

[2019-03-13 14:35] rawstorage commented on #35
Vic,
if you check out the HelloUnisphere script.. I think this is doing exactly what you need.   The latest versions of PyU4V don't require you to have the array specified in the initial connection string..

Below is the code

#Sample Script

from PyU4V import U4VConn

conn = U4VConn(u4v_version='90', server_ip='IPaddress', port=8443,
               verify=False, username='smc', password='smc')

#

[2019-03-13 20:10] TorpedoAway commented on #35
Got it! Thanks!

[2019-03-13 20:15] TorpedoAway commented on #35
Got another question. Is it possible to call get_host_list for a VMAX2? This works as expected for VMAX3 but for VMAX2 arrays I get this...

"The status code received is 400 and the message is {'message': "SLO Provisioning is not supported on Symmetrix 'xxxxxxxxxxxxxx'"

I looked around in the module for an alternate get_host_list function for VMAX2 but didn't find anything. Maybe I missed it. My

[2019-03-13 20:25] TorpedoAway commented on #35
I see in the docs vmax v3 and newer are supported.

[2019-03-19 14:25] anishxv commented on #35
Sorry to ask here but has anyone got this error ?

Traceback (most recent call last):
  File "C:\restapi\an1.py", line 7, in <module>
    from PyU4V import U4VConn
  File "C:\AppData\Local\Programs\Python\Python37-32\lib\site-packages\PyU4V\__init__.py", line 7, in <module>
    from .univmax_conn import U4VConn
ModuleNotFoundError: No module named 'PyU4V.univmax_conn'

[2019-03-19 15:21] rawstorage commented on #35
Anish, I just did a fresh install on a test system without issues running Python 3.7.2 on windows same as you, I had no issues. Try running  python -m pip --upgrade PyU4V and retrying.

[2019-03-19 15:21] #35 closed, assigned to nobody

[2019-03-19 16:02] anishxv commented on #35
Thanks for the reply.

It doesn't have upgrade option avialable.

no such option: --upgrade

On Tue, Mar 19, 2019 at 8:51 PM Paul Martin <notifications@github.com>
wrote:

--
Shalom Aleikhem,

Thanks and regards,
Anish Xavier V.

[2019-03-19 16:19] rawstorage commented on #35
In that case you could try uninstall and install of PyU4V

Excuse typos send from a mobile device. Sometimes autocorrect gets a bit creative without the knowledge of the sender

-------- Original message --------
From: anishxv <notifications@github.com>
Date: 19/03/2019 16:02 (GMT+00:00)
To: MichaelMcAleer/PyU4V <PyU4V@noreply.github.com>
Cc: "Martin, PaulE (Ireland)" <paule.martin@emc.com>, State

[2019-03-19 16:28] anishxv commented on #35
Reinstalling did the trick I guess. Thanks a lot.

[2019-04-03 01:30] McDingl opened #36 "a bug?"
when i use api " conn.provisionging.get_director_list"  to get all  director-ids , but error below:

The server encountered an unexpected condition which prevented it from fulfilling the request.
![image](https://user-images.githubusercontent.com/37035429/55446600-e55c7880-55f2-11e9-9e4e-2223ab7f9a34.png)

ps: my version is v9.0.2.5 / 90

[2019-04-03 07:08] rawstorage commented on #36
What type of array are you running against? 20k 100k or PowerMax

Excuse typos send from a mobile device. Sometimes autocorrect gets a bit creative without the knowledge of the sender

-------- Original message --------
From: McDingl <notifications@github.com>
Date: 03/04/2019 02:30 (GMT+00:00)
To: MichaelMcAleer/PyU4V <PyU4V@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subje

[2019-04-05 15:06] anishxv commented on #35
Regarding the api to create srdf replication,
We can start the replicaiton from source array to destination using an existing rdf group.
Does it gives the option to create a new rdf group.
Could you please help with this query.
Thanks in advance.

[2019-04-05 15:26] rawstorage commented on #35
Anish,
if you are working with metro or async protection a new RDFG is created automatically for each storage group you are protecting as Metro and RDF/A have a hard requirement for this.

Alternatively you could modify the replication.py file to change the following lines.

line 467: def create_storagegroup_srdf_pairings(
            self, storagegroup_id, remote_sid, srdfmode, establish=None,

[2019-04-06 05:54] anishxv commented on #35
Thank you. I tried it and getting below error now.

PyU4V.utils.exception.VolumeBackendAPIException: Bad or unexpected response from the storage volume backend API: Error Create storagegroup/rmr_test/rdf_group resource. The status code received is 500 and the message is {'message': 'A problem occurred creating the Storage Group SRDF Group resource: A problem occurred creating srdf storage group [r

[2019-04-06 09:51] rawstorage commented on #35
Anish,
There is no need to specify the group number the API will create it for you automatically. If you specify force new rdfg then it will create a new one.

Excuse typos send from a mobile device. Sometimes autocorrect gets a bit creative without the knowledge of the sender

-------- Original message --------
From: anishxv <notifications@github.com>
Date: 06/04/2019 06:54 (GMT+00:00)
To: Michae

[2019-04-08 09:19] anishxv commented on #35
Many thanks for your reply.

My scenario is,

With restapi we can create srdf replication with acp_disk mode from source array to target array.
The problem is , the session always select an existing rdfg.
We want to create a new rdfg each time a session is created.
Could you please help with this.

[2019-04-08 09:25] rawstorage commented on #35
Anish,
If you want to create a new RDFG each time then you should add the flag I have stated to the create_storagegroup_srdf_pairings pairings module and append the payload to match what I called out in my previous reply

line 467: def create_storagegroup_srdf_pairings(
self, storagegroup_id, remote_sid, srdfmode, establish=None,
_async=False, rdfg_number=None, new_rdfg=False):

line 484: rdf_payl

[2019-04-09 09:11] anishxv opened #37 "request : creating a masking view in the target array along with srdf replication."
Hello Guys,

This is a request.

How can I create a masking view with existing Portgroup, storage group with a new Initiator Group with supplied wwns .
Could someone please help me.

[2019-04-11 08:47] helenwalsh commented on #37
Hi,
There is create_masking_view_existing_components method in provisioning that you can use.  Is it synchronous, asynchronous or metro replication?

[2019-04-11 15:03] anishxv commented on #37
Planning to be acp_disk and later to async before splitting.

[2019-04-11 17:09] rawstorage commented on #37
Anish, I just pushed a change in version 3.0.10

import PyU4V

conn=PyU4V.U4VConn(username="smc",password="smc",server_ip="192.168.1.6",
                   verify=False,port=8443,array_id="000197900111", \
                                                 u4v_version=90)

conn.replication.create_storagegroup_srdf_pairings(
    storagegroup_id="PYU4v2",remote_sid="000197600156",forceNewRdfGroup=True

[2019-04-11 17:09] #37 closed, assigned to nobody

[2019-04-11 17:11] rawstorage commented on #36
can you post the script along with the model number? it's impossible to troubleshoot from a bad photo..  We're not superhero's ;)

[2019-04-23 01:43] McDingl commented on #36
**sorry! my EMCs have vmax-200k , vmax-100k:
here is my code:**
[code]
**here is error output:**
"""
   PyU4V.utils.exception.VolumeBackendAPIException:Bad or unexpected reponse from the srorage       volume backend API：ERROR get director. the status cde received is 500 and the msg is "{'message‘：’the server encountered an unexpected condition which prevented it from fulfing the request‘}"
""

**w

[2019-05-20 17:13] ravitejajyosula opened #38 "No handlers could be found for logger "PyU4V.rest_requests""
Hi

I am facing the following issue when I use this module in playbook and run the playbook in AWX. I am able to run same via commad line like ansible-playbook plyabook.yml but when i run through awx I face this issue.

Error:
"module_stderr": "No handlers could be found for logger \"PyU4V.rest_requests\"\nTraceback (most recent call last):\n  File \"/root/.ansible/tmp/ansible-tmp-1558363142.15-27

[2019-05-20 17:18] rawstorage commented on #38
Looks like AWX is having an issue with seeing the Unisphere host.  Best to open these issues against the Ansible module GitHub https://github.com/rawstorage/dellemcpmax_ansible .    Please open issue against the correct GitHub and I will have a look.  Wondering how you have configured AWX to pass the connection variables for the Unipshere server?

[2019-05-20 17:19] rawstorage commented on #36
Issue should be resolved in the latest version of PyU4V.  Just corrected this bug.

[2019-05-20 17:19] #36 closed, assigned to nobody

[2019-05-21 15:09] rawstorage commented on #38
I'm setting up an AWX instance in my lab, would love to get a snippett of your playbook to see what's not happening,  if you could post would make things easier to determine what's going wrong.

[2019-05-21 15:24] rawstorage commented on #38
Closing as being worked on dellemc_ansible github

[2019-05-21 15:24] #38 closed, assigned to nobody

[2019-05-29 03:06] colinwsc opened #39 "get_fe_port_metrics parameter [metriclist]"
Thanks for provide this valuable library.

Tried to fetch performance metrics of PowerMax port and hit one issue with method get_fe_port_metrics.

Based on parameter description, metriclist is one list.
   _:param metriclist: list of one or more metrics_
If input list like following.
   _['HostIOs','HostMBs','PercentBusy','ReadResponseTime','WriteResponseTime']_
It will report error.
  _({'message

[2019-05-30 08:24] rawstorage commented on #39
Colin,
I'll have a look at this again, could be a bug that I missed in this library, I haven't changed anything in the performance library for a while,  Performance is such a huge topic I figured putting just a few examples in there will allow customers to build upon it.  Can I ask the version of Unisphere you are using?

[2019-06-03 00:03] colinwsc commented on #39
Rawstorage,
The U4P is 9.1.0.974.

[2019-06-17 11:08] MichaelMcAleer commented on #39
Hi Colin,

We cannot make changes to PyU4V for unreleased version of Unisphere. Can you confirm your Unisphere version is 9.1.x?  There are numerous changes in performance metrics from version to version so it is expected that you will run in to issues.

The only work around at present until we release PyU4V for 9.1.x support is to make the changes manually yourself.

Thanks
Michael

[2019-06-17 11:08] #39 closed, assigned to nobody

[2019-06-17 11:10] MichaelMcAleer commented on #39
If you are an employee of Dell/Dell EMC can you send me an e-mail or skype message, you should find me via my name with no issues.

[2019-07-16 11:05] anishxv opened #40 "Get volume properties"
Hi,

Is there a way to check the "Dynamic RDF Capability" attribute set for a device using api call.

get_volume('dev_name') ; lists few properties but not the Dynamic RDF Capability.
Please suggest if you have any details on this.

[2019-07-16 11:08] rawstorage commented on #40
All devices in VMAX3 and higher have this set by default so there is no need to check.  This library only supports VMAX3 and above so you're sorted.

[2019-07-16 11:08] #40 closed, assigned to nobody

[2019-07-16 11:38] anishxv commented on #40
Thank You.
But is there a way to check the details like "Dynamic RDF Capability" for a vmax2 device.
because we are migrating data mainly from vmax2 arrays and this is needed.

Thanks in advance.

[2019-07-16 11:44] rawstorage commented on #40
The library doesn't support VMAX 2 calls which are all under provisioning resource.
The information however should be available on this call for which there is no module pre-written.

you could use the GET call below.

/90/provisioning/symmetrix/{symmetrixId}/volume/{volumeId}

[2019-07-16 11:52] anishxv commented on #40
ok. Thank you.

[2019-07-25 10:18] ocarm opened #42 "3.0.0.14 modify_storagegroup_srdf regression"
Hi,

Function modify_storagegroup_srdf  from replication.py is not working anymore with pyU4V 3.0.0.14

When you try to suspend a replication you get this exception :

message': 'Parameter of type [SgRdfAction] value not one of declared Enum instance values: [Establish, Split, Suspend, Restore, Resume, Failover, Failback, Swap, SetBias, SetMode]

Previous version use to capitalize action to fit VM

[2019-07-25 13:12] MichaelMcAleer commented on #42
Hi Olivier,

Can you confirm for me the version of Unisphere you are using? I will try to replicate this behaviour on my end.

[2019-07-25 13:32] MichaelMcAleer commented on #42
Also, can you send me the parameters your are putting into the function exactly as they are, lower/upper case for example

[2019-07-25 13:49] ocarm commented on #42
I'm using unisphere 9.0.2.12. I'm not using this function directly. I'm tryng to suspend a srdf asynchronous pair with function suspend_storagegroup_srdf which use it.  This code works fine with 3.0.0.9.
`suspend_options = {consExempt': True}`
`self._conn.replication.suspend_storagegroup_srdf(storagegroup_id=sg_name,rdfg_no=rdf_id,suspend_options=suspend_options)`

[2019-07-25 14:00] MichaelMcAleer commented on #42
Ok, thanks for the info. We have found what the issue is, the removal of the capitalisation in a previous commit to address issues with some modes broke other modes which were defined in functions such as the suspend_storage_group_srdf you mentioned.

It is a straight forward fix so we will get that added shortly for you.

[2019-07-25 14:02] ocarm commented on #42
Thanks !

[2019-07-26 14:40] MichaelMcAleer commented on #42
Hi Olivier,

This issue has been addressed in the most recent pull request: https://github.com/MichaelMcAleer/PyU4V/pull/43

I will keep this issue open until it is merged to master and a new pip package is generated.

Thanks
Michael

[2019-07-31 15:15] MichaelMcAleer opened #44 "PyU4V install from PyPi not functioning as expected"
When installing PyU4V from PyPi using command:
`pip install PyU4V==3.0.0.14`
The core functional files are still on version 2.0 whilst all the rest of the versioning points towards 3.0.0.14 being the installed version.

As a workaround, uninstall PyU4V using pip, clone PyU4V from the source GitHub repo and install using pip but with local files instead of remote.
[code]

You can confirm the correc

[2019-08-01 13:41] MichaelMcAleer commented on #44
This has been resolved in both our GitHub repo and PyPi in PyU4V version 3.0.0.16

[2019-08-01 13:41] #44 closed, assigned to MichaelMcAleer

[2019-08-02 13:21] MichaelMcAleer commented on #42
Hi Olivier,

The fix for modifying SG SRDF has been submitted to master, you will see this in driver version 3.0.0.17.

Thanks
Michael

[2019-08-02 13:21] #42 closed, assigned to MichaelMcAleer

[2019-08-09 12:20] anishxv opened #48 "Env Check for VMAX arrays using PyU4V module."
Hello,

Could you please inform if there is any PyU4V function to get the env failed or Failed disks from Vmax arrays.

eg: Looking for PyU4V  options  equivalent to symcfg -sid XXXX list -env_data -service_state failed" or symdisk -sid XXX list -failed":

Thanks in advance.

[2019-08-09 12:47] rawstorage commented on #48
Dell Customer Communication - Confidential

Abishek,
This is not currently supported in the REST modules or via REST in general in the current release 9.0.  We'll be adding some features for the next major release but will have to wait to see what the new 9.1 endpoints provide.  Keep an eye on the commits.

Paul Martin
Senior Principal Engineer
Technical marketing Engineering
DellEMC | Enterprise

[2019-08-19 13:06] MichaelMcAleer commented on #48
Although it's not an issue I'll keep this open so we can track it in the upcoming release to see if inclusion is possible.

[2019-08-21 20:01] prolly-brent opened #51 "PyU4V Exception Handling Suggestions"
This not an actual issue, just more of an observation with hope for suggestions.  I started using the PyU4V module a while back and quickly found it very difficult to debug my foolish mistakes.

For example:
rjson = conn.performance.get_port_group_metrics(pg_id, start_date, end_date)

If all goes well, I get back a simple json payload which is easy to parse.  However, if I mess something up (like

[2019-08-22 09:02] MichaelMcAleer commented on #51
Hi Brent,

The problem above is that there is no response content "KeyError: 'resultList'" but yes I agree the exception handling in PyU4V is in need of a complete overhaul to make it more robust against various exception scenarios.

To get around the issue in your own code you can catch the KeyError Exception in your own script and determine why the port group is not returning any performance dat

[2019-08-22 13:48] MichaelMcAleer commented on #51
Hi Brent,

A fix for the issue you are encountering has been submitted and will be cut to a new stable/3.1 branch. Keep a look out for updates to PyU4V either via the pull request or Pip.

https://github.com/MichaelMcAleer/PyU4V/pull/52

For the moment I would advise to only use the performance section for testing, there are major changes coming soon in that section which will make your life a lot

[2019-08-22 14:35] MichaelMcAleer commented on #51
An additional change is incoming momentarily if you want to hold off on updating to new code until 3.1.2 is available.

[2019-08-23 12:51] prolly-brent commented on #51
Great to hear Michael.  I'll probably wait for 3.1.2 release.  In the meantime I'll also try and get familiar with PyCharm.  Looking forward to the new release and I appreciate your effort on all of this.

Brent

[2019-08-26 16:29] MichaelMcAleer commented on #51
Hi Brent,

We found another issue in 3.1.1 so had to go to 3.1.2, I would advise updating to that version via PIP.

On the performance improvements, they will be coming in the next major release of PyU4V, just wanted to set expectations incase you assumed they were coming in 3.1.2.

[2019-08-26 16:29] #51 closed, assigned to MichaelMcAleer

[2019-08-28 14:21] anishxv opened #56 "Using restapi call to get the device properties (GCM)."
I was trying for a method to see if GCM bit is set on a device or to list devices which has gcm bit is set. Does anyone know if there is an option for this please?

Thanks in advance.

[2019-08-29 08:01] rawstorage commented on #56
Anish,
This is not possible with the API, GCM is generally only set on a very small set of devices when there is a migration between V2 and V3 using SRDF and the source volume has a uneven number of tracks that can’t align to the 128KB track size of V3 and PowerMax.  You can search for these with the cli and depending on the OS and Filesystem expand the device to be an even size to remove the GCM

[2019-09-03 12:39] #56 closed, assigned to rawstorage

[2019-09-03 15:08] MichaelMcAleer opened #58 "test#2"

[2019-09-03 15:11] MichaelMcAleer commented on #58
test comment on an open issue

[2019-09-04 13:49] rawstorage commented on #58
testing subscription on slack

[2019-09-04 13:57] rawstorage commented on #58
test3

[2019-09-04 14:02] rawstorage commented on #58
new test

[2019-09-04 14:30] rawstorage opened #59 "Slack integration Test3"
test

[2019-09-04 14:31] #59 closed, assigned to nobody

[2019-09-04 14:32] #58 closed, assigned to nobody

[2019-09-10 04:07] prashantrakheja opened #60 "Delete SG snapshot is not working in latest PyU4V version"
This is the old PyU4V code which works (v2.0):

    def delete_storagegroup_snapshot(self, storagegroup, snap_name, gen_num=0):
        """Delete the snapshot of a storagegroup.

        :param storagegroup: the storage group name
        :param snap_name: the name of the snapshot
        :param gen_num: the generation number
        """
        resource_name = ('storagegroup/{}/snapshot/{}/genera

[2019-09-10 09:05] rawstorage commented on #60
Prashant, I've fixed that issue in PR 61, this will need to be reviewed before merging into version 3.1.3.

[2019-09-11 08:23] prashantrakheja commented on #60
@rawstorage Great job, thank you so much

[2019-09-12 09:42] rawstorage commented on #60
PyU4V 3.1.3 is now available on PIP

[2019-09-12 09:42] #60 closed, assigned to nobody

[2019-09-24 10:03] helenwalsh opened #63 "Tighter error handling when the PyU4V.conf cannot be parsed"
Error received is currently
requests.exceptions.InvalidURL: Failed to parse: https://None:None/univmax/restapi/84/sloprovisioning/symmetrix/None/maskingview

It would be great if we could catch this before it gets to the request.
Potential reasons for failure
1.  The file cannot be found
2. The tags do not exist in the file
3.  Permissions

[2019-09-24 12:25] AlKult opened #64 "No array id specified. Please set array ID using the "set_array_id(array_id)" function."
Hi @rawstorage,

I've seen the issue https://github.com/MichaelMcAleer/PyU4V/issues/35, however I'm still experiencing the same problem.

[code]
I can, however, bypass the error by simply providing a dummy value for array_id:
[code]
Even though the workaround is pretty simple, I tend to think I shouldn't have to have it, therefore wondering if there's a way to rid myself of the issue.

Best regard

[2019-09-24 12:34] MichaelMcAleer commented on #64
Hi Albert,

It is not an error you are seeing but a log message with warning level assigned:
[code]
The message is there to let you know that there is no array ID set. It is not a requirement to have the array ID set, you can call into many functions without one or specifying your own at the time without the need of self.array_id.

There is no issue here, this is working as intended and the warnin

[2019-09-24 12:34] #64 closed, assigned to MichaelMcAleer

[2019-09-24 13:01] MichaelMcAleer commented on #63
Fix is in development, will also fix config file loading in Windows and initialising logger on Windows.

[2019-09-24 13:05] rawstorage commented on #48
Abishek, this function has been added to Unisphere 9.1 released last week,  PyU4V 3.x doesn't support Unisphere 9.1 yet but we will be adding this support in the next release and the functionality will be added.

[2019-09-24 13:05] #48 closed, assigned to rawstorage, MichaelMcAleer

[2019-09-24 13:18] MichaelMcAleer commented on #63
This has been addressed in https://github.com/MichaelMcAleer/PyU4V/pull/65

[2019-09-24 13:18] #63 closed, assigned to MichaelMcAleer

[2019-10-16 14:25] AlKult opened #66 "extend_volume to include capacity unit variable"
Hi,

In the `extend_volume` function, could you please make the capacity unit a variable? At current, it's hard-coded to be 'GB'.

What I've done locally and what I'm suggesting here is:
[code]
Thanks!

Best regards,
Albert.

[2019-10-16 14:35] MichaelMcAleer commented on #66
Hi Albert,

Thanks for getting in contact and bringing this to my attention. PyU4V version 3.1 is currently closed for enhancements, we are only accepting suggestions for security or bug fixes.

We are currently developing our next major PyU4V release and we have included this request in our list of enhancements so users can extend by cylinder, MB, GB or TB. It will be included in in the first ava

[2019-10-16 14:35] #66 closed, assigned to MichaelMcAleer

[2019-10-18 13:27] rawstorage opened #68 "Issue with header in reset_requests"
Ansible developers requested change due to typo in header name. _ instead of -.  Missed as this is ignored if incorrect.

[2019-10-18 13:28] rawstorage commented on #68
Pull request 67 has fix.

[2019-10-22 10:19] MichaelMcAleer commented on #68
Link to pull request https://github.com/MichaelMcAleer/PyU4V/pull/67

[2019-10-22 11:08] MichaelMcAleer commented on #68
Pull request 67 merged to master, closing

[2019-10-22 11:08] #68 closed, assigned to rawstorage

[2019-10-29 19:50] tzcole opened #69 "Error - Compression is not supported on Symmetrix"
I'm testing PyU4V with a newly deployed VMAX 950F AFA.  I'm able to query the UNI version and SRP, and a few other items from this array.  As it's new, it doesn't have any SGs, PGs, IGs, MVs, etc.  Using the same PyU4V version with another array I have confirmed that I'm successful at querying those things from the array including SGs, IGs, MVs, Devices, PGs, etc.  But when I try to provision a SG

[2019-10-30 10:52] rawstorage commented on #69
Hi, can you confirm that you are able to disable compression on a storage group created within Unisphere itself.  The error suggests that the array has not been enabled for compression or the microcode level is not at a supported level.  What version of code is on the array?

[2019-10-30 21:46] tzcole commented on #69
So this array was not sized/configured with compression.  That's why I was passing the do_disable_compression=True parameter.  I would think the library should support arrays not using compression.

We are at Hypermax OS - 5977.1131.1131

I'm also discussing the possibility of enabling compression with my CE, since there isn't a strong reason to have it disabled, but in the interim, it might be go

[2019-10-30 22:12] rawstorage commented on #69
Ok if it's not enabled you can just skip the setting...   the default should create a group without trying to set it so you can ignore it.  Once compression is enabled on the array (online change byt the way) you can check the compression settings are on the groups or modify as necessary.

[2019-10-31 03:25] tzcole commented on #69
So, when I remove that parameter, I'm still getting the error.

[code]

But when I also remove allocate_full=True, then I am able to get it to work.

[code]

Looking into the PyU4V/provisioning.py file, we can see noCompression is forced to 'true' when allocate_full is True.  I think that would need to be conditional if array compression is not enabled.

Within create_storage_group
[code]

This ch

[2019-10-31 11:25] rawstorage commented on #69
Hi,
we can re-examine the way the code is working,  But in +99% systems that are capable of compression it is enabled.  Pre-allocation and compression are mutually exclusive as we can not compress unwritten tracks that are allocated as we don't know how the data will compress so we need to keep the full track size in case.  I think we've hit a corner case in your environment, but we can look at ad

[2019-11-03 07:20] tzcole commented on #69
Thanks Paul,

We had compression enabled on the array, and it's working properly.

[2019-11-06 14:21] MichaelMcAleer opened #70 "Performance Thresholds Update Bug"
When attempting to update performance thresholds a check is run to determine if a value is bool True/False. The actual value being evaluated is a populated string which always evaluates to True, so KPI settings are applied for all metrics supplied.

https://github.com/MichaelMcAleer/PyU4V/blob/master/PyU4V/performance.py#L666

[2019-11-11 06:44] satoshi-tokyo opened #71 "provisioning.create_volume_from_sg_return_dev_id returns a different volume_id from name just being created"
# provisioning.create_volume_from_sg_return_dev_id(volume_name, storagegroup_name, vol_size, cap_unit)

Hello, I am filing something I noticed while using this module.

Same volume names can be set to different volumes, e.g., 00075:volume1108 and 00077:volume1108. Is it as expected? I an confused due to the following lab results.

Volume_name is a required parameter, and when `volume_name=''` (`vo

[2019-11-11 10:30] helenwalsh commented on #71
Hi Sitaki,
Thank you for bringing this to our attention, we will look into resolving it.   You are correct, volume_name (identifier_name in REST), is either None or user defined and does not have to be unique.

[2019-11-12 14:46] #69 closed, assigned to rawstorage

[2019-11-14 09:59] rawstorage opened #73 "Expand Volume Fails with Python 3.x"
Issue raised by customer attempting to run Anisble Modules with Python version 3.x

2019-11-14 01:54:35,114 __main__.py ERROR : Expand volume 000EA failed with error Bad or unexpected response from the storage volume backend API: The PUT request to URLhttps://myunipsherehost:8443/univmax/restapi/90/sloprovisioning/symmetrix/000197600156/volume/000EA failed with exception Object of type 'Decimal' i

[2019-11-14 10:11] rawstorage commented on #73
closing, issue is with Ansible code

[2019-11-14 10:11] #73 closed, assigned to nobody

[2019-11-15 11:11] MichaelMcAleer commented on #70
Going to mark this as a no-fix, extensive improvements have been made in next version so it is highly recommended to wait and update to that version if performance calls will be in use

[2019-11-15 11:11] #70 closed, assigned to MichaelMcAleer

[2019-11-25 10:02] helenwalsh commented on #71
Fixed in PyU4V==3.1.6.  Thank you

[2019-11-25 10:02] #71 closed, assigned to helenwalsh

[2019-11-29 02:28] satoshi-tokyo commented on #71
Hello, and thank you for taking care of this. The device_id returned as I expected on my side as well.
One little feedback I thought during my lab, is that when `volume_name = "" or None` specified it returns a list of device ids as below and also results in creating a volume. When a volume was created I was expecting a device_id to be returned.

[code]
Thinks you,

[2019-12-10 10:16] helenwalsh commented on #71
Hi Sitaki,
You are most welcome.  I will look into the volume_name = "" or None again.  My initial thought is it will bring back a list of all volumes that were created without a volume name.  Is that what you have observed?

[2019-12-10 15:34] anishxv opened #79 "Error while creating the storage group."
Issue : Below error while creating the storage group.

Bad or unexpected response from the storage volume backend API: Error Create storagegroup resource. The status code received is 500 and the message is {'message': 'A problem occurred creating the storage group resource: java.lang.NullPointerException'}.

Command Issued : rf.provisioning.create_storage_group(srp, 'restapi_SG', 'Diamond')

Note

[2019-12-10 16:02] helenwalsh commented on #79
Hi, we will look into this for you.  Are other rest commands working for you?  For example, can you get a storage group?

[2019-12-10 17:44] anishxv commented on #79
rest commands like rf.provisioning.get_storage_group_list() and rf.provisioning.get_storage_group('SGNAME_SG') are working

[2019-12-11 11:23] helenwalsh commented on #79
Thank you for bringing this to our attention, this is indeed broken on the 84 endpoint.  We will have a fix shortly.
Kind regards,
Helen

[2019-12-11 12:05] anishxv commented on #79
Just one more thing that we upgraded vmax3 codes in our DCs 5977.1131.1131 to 5978.221.221. Observed this problem after that.

[2019-12-11 12:08] helenwalsh commented on #79
Good to know, thank you for the additional information.

[2019-12-11 16:03] helenwalsh commented on #79
Just on your OS upgrade to PowerMax OS(5978).  It is highly recommended to use Unisphere for PowerMax 9.0 with PowerMax OS(5978).  PyU4V 3.1.x supports 90 also.  Saying that, I was able to reproduce this issue using HyperMax (5977) on an All Flash, so it is unusual that you only saw this issue on PowerMax OS(5978).

[2019-12-11 16:50] anishxv commented on #79
I will try to upgrade to Unishpere 9 and see how it goes.
BTW on which PyU4V , you reproduced the issue with please ?
We never faced this issue before.

[2019-12-11 16:57] helenwalsh commented on #79
I reproduced it on PyU4V 3.1.7 on an All Flash with HyperMax OS using Unisphere for VMAX 8.4.  I was unable to reproduce the issue on Unisphere for PowerMax 9.0, so in theory, when you upgrade, all should be well as they use different REST endpoints.  I will confirm all of the above.

[2019-12-12 13:02] anishxv commented on #79
Upgraded the Unisphere to "Unisphere for PowerMax v9.0.2.12" and we are not getting the error.

[2019-12-12 22:03] helenwalsh commented on #79
Great news.  That was my experience also.  Regardless, I will be addressing the U4V 8.4 issue.

[2019-12-17 17:26] helenwalsh commented on #79
I need clarify on my last posts.  The issue is only reproducible on PowerMax OS and not Hypermax OS .  Any array which has PowerMax OS must use Unisphere for PowerMax 9.0 at a minimum.

[2019-12-17 17:26] #79 closed, assigned to helenwalsh

[2019-12-20 16:25] mallilinux1978 opened #82 "unisphere out of sync issue?"
Hi,

have you ever noticed unisphere DB going to out-of-sync? If answer is yes should i run any other API or CLI to make sure unisphere DB & symapi DB is 100% sync?

In our cause, we'll create devices using POST, and then query using GET unisphere for the device ids we just created, and unisphere will say the device id doesn't exist, even though it was just created. Currently we use unisphere vers

[2020-01-06 12:09] rawstorage commented on #82
Hi, there were some significant improvements in the API since version 8.4 and 9.0/9.1, if you are creating the devices via REST and querying on the same instance of Unisphere you shouldn't expect to see any out of sync issue.  If you are querying separate instances of unipshere you may need to run a refresh within the GUI to sync this up.

[2020-01-23 10:41] helenwalsh opened #83 "Application Type should be application-type and not application_type in the REST header"
Application Type should be application-type and not application_type in the REST header

[2020-02-17 11:16] MichaelMcAleer commented on #82
Closing this one out - not PyU4V related or using most recent versions of Unisphere.

[2020-02-17 11:16] #82 closed, assigned to nobody

[2020-02-17 11:17] MichaelMcAleer commented on #83
This has been fixed in a recent commit https://github.com/dell/PyU4V/issues/83

[2020-02-17 11:17] #83 closed, assigned to rawstorage

[2020-03-21 11:45] ItsDevMonk opened #85 "Migration between different data center."
Is it possible to do the migration from one data center to another data center?

[2020-03-23 09:32] rawstorage commented on #85
Hi,
Depends on what you need, you can use SRDF to migrate data, any flavor and do a fialover to the remote site and the data is available.

or

There is a non-disruptive migration feature on powermax and vmax all flash arrays that utilizes SRDF to accomplish this.  We support this in PyU4V 9.1.  There are caveats to be aware of at the host side to do a non-disruptive migration as the host actions

[2020-03-30 08:19] #85 closed, assigned to nobody

[2020-04-04 14:08] Gerry-liu opened #87 "SSL issue"
Hi expert,

   I followed guide to setup PyU4V. then get below issue. Can you help to give some advices? many Thanks.
Used the latest Powermax Unisphere Demo V9.1.0.1 and  the latest PyY4V code.

[root@gerry-centos77 ~]# python
Python 3.7.5 (default, Apr  4 2020, 15:08:30)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-39)] on linux
Type "help", "copyright", "credits" or "license" for more information.

/usr/

[2020-04-04 14:52] Gerry-liu commented on #87
.PyU4V/PyU4V.conf file:
[setup]
; enter the below details - mandatory
;(can be passed as parameters on initialisation also)
username=smc
password=smc
server_ip=192.168.78.1
port=8444
array=000197900049
; remote_array=00012345679
; verify=True
verify=/root/unisphere.pem

the  unisphere.pem file use below command to generate:
openssl s_client -showcerts -connect 192.168.78.1:8444 </dev/null 2>/dev/n

[2020-04-06 08:36] rawstorage commented on #87
Gerry, have you tried this with an actual install of Unisphere?, since you are using the demo kit which we don't officially support with PyU4V not sure why you are verifying certificates.  If you set verify to False this error should go away.

[2020-04-06 13:45] Gerry-liu commented on #87
got, thanks. I will close this issue.

[2020-04-06 13:45] #87 closed, assigned to nobody

[2020-04-22 16:10] storl0rd opened #88 "Is PyU4V v 9.1.0.3 supported for Ansible Modules for Powermax v1.1"
I am getting the below error while trying to run a sample playbook.

TASK [Get names of all the Storage Group] ***************************************************************************************************************
fatal: [localhost]: FAILED! => {"changed": false, "msg": "PyU4V 9.1.3.0 is not supported by this module.Minimum supported version is : 3.1.5 and less than 4.0.0 "}

[2020-04-22 16:26] rawstorage commented on #88
the error is pretty clear you have the wrong version of PyU4V for the modules, you need to do the following.. Next release of Ansible modules will support PyU4V 9.1 so you won't run into this.

python -m pip uninstall PyU4V
then
python -m pip install PyU4V==3.1.7
This is documented in the install guide on the github..
https://github.com/dell/ansible-powermax/

[2020-04-22 16:26] #88 closed, assigned to nobody

[2020-04-22 16:50] storl0rd commented on #88
Thank you very much, I will remove the current version and install 3.1.7

[2020-06-19 14:41] tgu4 opened #89 "Unable to parse json when unisphere setting changed to True on WrapJsonRoot"
The default setting is False.

/bb/sanmgmt/SMAS/jboss/domain/deploy0/smc0.ear/smc.war/WEB-INF/web.xml
<param-name>com.emc.em.restapi.WrapJsonRoot</param-name>
<param-value>true</param-value>

[2020-07-03 11:48] tgu4 opened #90 "Embedded unisphere V9.1.0.15 error in function validate_unisphere"
In common.py line 492 in get_uni_version, the return version is <class 'str'>, while with linux unisphere the return version is <class 'dict'>. The version_list = version['version'].split(',') will return TypeError: string indices must be integers

[2020-07-09 10:13] abmaymic opened #91 "Volume Performance Metrics"
I'm searching for (Thin) Volume Performance Metrics. I didn't find the right function on the API for that. Is there any?

Best regards,

Michael

[2020-07-14 08:27] rawstorage commented on #89
Tommy, I'll chat to you about this one again.  We don't recommend making changes to the JSON root parameter PyU4V is set to work out of the box.  I suggest using PyU4V with unmodified install of PyU4V.

[2020-07-14 08:27] #89 closed, assigned to rawstorage

[2020-07-14 08:27] MichaelMcAleer commented on #91
Hi Michael,

Performance metrics for volumes are not available in Unisphere and as such we cannot report on them through PyU4V.  It is assumed that using a combination of other reporting categories that a clear picture of environment performance can be achieved.

[2020-07-14 08:27] #91 closed, assigned to MichaelMcAleer

[2020-07-14 08:41] MichaelMcAleer commented on #90
Hi There,

Following the guidelines in our documentation for issues ([link](https://pyu4v.readthedocs.io/en/latest/support.html)) can you provide some additional information on your environment? I'll need them to confirm we are both looking at the same code and versions of requirements.

I have looked at the function and associated response from Unisphere 9.1.0.15...

https://github.com/dell/PyU4V

[2020-07-14 10:30] tgu4 commented on #90
hi Michael,

in the linux installed unisphere or directly use array service processes ip unisphere they returned correctly
{"version": "V9.1.0.15"}

now powermax has embedded management unisphere. We will use this for performance metrics collection so using in band HBA fabric on linux server can be eliminated. when use none modified PyU4V connect to that it will return
('V9.1.0.15', '91')
as a res

[2020-07-14 10:40] MichaelMcAleer commented on #90
Hi Tommy,

I checked embedded unisphere and it returns the same expected response from the rest API:

`{"version": "V9.1.0.15"}`

Is the problem that you are expecting to see this returned from `get_uni_version()` but instead you get returned `('V9.1.0.15', '91')`?

[2020-07-14 10:41] tgu4 commented on #89
hi Paul, this is fine. I thought since unisphere has that setting so user should be able to change it and PyU4V should be able to deal with it. anyways we will use embedded management unisphere for our project so unmodified PyU4V should be ok, but it raised another version parsing issue which I reported issue #90. details were sent to you via internal email. Hope that can be addressed. Thanks, Tom

[2020-07-14 10:49] tgu4 commented on #90
Michael, check your email. just forward you the detail. Tommy

[2020-07-14 10:56] MichaelMcAleer commented on #90
Hi Tommy,

Just had a look at the code snippet.

Similar to Paul's response in issue https://github.com/dell/PyU4V/issues/89 can you please set Unisphere configuration setting `com.emc.em.restapi.WrapJsonRoot` to its default setting of `False` and try again?

PyU4V is developed to work out of the box, by setting WrapJsonRoot you are changing the Unisphere REST API response format which is going to

[2020-07-14 11:49] tgu4 commented on #90
Michael,

We did not change on embedded unisphere one so it should be default to False, and I don’t know how I can do it without Dell support help :) but I might changed your code somewhere for the debugging and forgot to change back. Let me check that later and let you know to confirm if that is the case.

Thanks, Tommy

[2020-07-14 12:01] abmaymic commented on #91
Hi Michael,

Thanks a lot for your answer. Just to get it right: 'not available in Unisphere' means on API-level of Unisphere? Because on the Powermax-UI I can see these metrics.

Metrics per Volume would be of interest for us when it comes to troubleshooting and optimization of some of our workloads. Is there an alternative way/API to get these metrics on Powermax?

Best regards,

Michael

[2020-07-14 12:31] MichaelMcAleer commented on #91
Hi Michael,

Yes that is correct, volume level metrics are not available through the Unisphere REST API so they won't be in PyU4V. Unfortunately there is no other way to view thin volume level metrics than via the Unisphere UI.

We do have calls for workload planner that will give you headroom details if that is of any use in your workload optimization.

Hope this helps,
Michael

[2020-07-14 16:14] tgu4 commented on #90
Michael,

It appears I left the file changed after series debug to make it work. It looks good with embedded unisphere.  sorry for the confusion.

[2020-07-14 16:14] #90 closed, assigned to MichaelMcAleer

[2020-07-14 16:15] MichaelMcAleer commented on #90
Hi Tommy,

Thanks for the update and letting us know, if you need any more help with any PyU4V problems just open an issue and we will investigate.

Thanks
Michael

[2020-07-17 08:41] Xenanex opened #92 "Configuration file reading"
Hello,

I'm working with this library for my company and I have a trouble with the configuration file:

In my code I have this:
[code]

But this simple code return me this:
[code]

After a day of research I find a solution:
`PyU4V.univmax_conn.file_path = 'xxxx/PyU4V.conf'`

I think it's because the variable has remove from the class to be place on the file or maybe the Documentation is not good.

[2020-07-23 15:35] MichaelMcAleer commented on #92
Hi!

Thanks for highlighting this, I had a look at our docs and the code and you are correct, the docs should indeed read `PyU4V.univmax_conn.file_path = 'xxxx/PyU4V.conf'` because it is defined outside of the `U4VConn()` class. I'm so used to having my `PyU4V.conf` file in `~/.PyU4V` that this one went unnoticed. I will get it fixed in the next commit.

Thanks again!
Michael

[2020-07-24 23:25] Xenanex commented on #92
No problem and thanks for your reply

[2020-07-28 16:03] prolly-brent opened #93 "conn.provisioning.create_storage_group Fails to Create Volumes"
Greetings:

I'm using PyU4V 9.1.3.0 with a new PowerMax2000.  I am trying to create a new storage group with a couple of volumes to go with it.  The "conn.provisioning.create_storage_group" function advertises the ability to do this.  However, when I execute the function, it only creates the storage group (no volumes).  To workaround, I have to first create an empty storage group and then create/a

[2020-07-31 08:58] MichaelMcAleer commented on #93
Hi Brent,

Thanks for flagging this, ill run a few tests locally and see what goes on in my own environment.

In the interim can you send over your environment info and logs, some info available on what we need in our docs: https://pyu4v.readthedocs.io/en/latest/support.html

Thanks!
Michel

[2020-07-31 09:37] MichaelMcAleer commented on #93
Actually no need to send over any more info Brent, I've found what is wrong here. When `slo` is set to `None` or empty string we have an if condition in `create_storage_group()` that doesn't get met and as a result we don't include the relevant info for the number of volumes required and what size, just that we want a SG so that would explain your empty SG response. I have verified this in my own

[2020-07-31 15:44] prolly-brent commented on #93
Thanks Michael.

Regards,
Brent

[2020-07-31 16:04] MichaelMcAleer commented on #93
This issue has been resolved in pull request #94. CI needs to be run on the changes before we can merge it to master, an issue in our lab is going to prevent that until the middle of next week as Monday is a bank holiday here in Ireland.

If you would like to test the fix feel free but be aware it is still subject to change pending the results of CI tests, you can find the fixed create_storage_gro

[2020-07-31 16:07] MichaelMcAleer commented on #92
Hi,

This issue has been resolved in pull request #94, once CI has been run on the changes it will be merged with master and reflected in our online documentation.

Thanks again for highlighting this issue,
Michael

[2020-09-09 11:01] #92 closed, assigned to MichaelMcAleer

[2020-09-09 11:01] #93 closed, assigned to MichaelMcAleer

[2020-09-10 16:15] mukeshguptakc opened #95 "Can we a create a new storage group or a volume from a storage group snapshot."
Hi
I am currently working on the DELL EMC VMax Array and i am exploring how can we create a storage group from and existing snapshot of storage group or can we create a specific volume from a storage group snapshot.

The modify_storage_group_snapshot does provide modification, but to only link/ unlink, name, generation number updates.

[2020-09-10 16:19] mukeshguptakc opened #96 "Can we attach/map a storage group snapshot to any host"
Hi
Currently, we are working with VMax and PowerMax Array too qualify for snapshot orchestration and we need to attach a snapshot if possible or a volume carved from the snapshot to a host/server.

The modify_storage_group_snapshot does provide modification, but to only link/ unlink, name, generation number updates.
But attaching a storage group snapshot methods could not be found.

[2020-09-10 16:30] helenwalsh commented on #95
Hi Gupta,
Referring you to a test that I think should help.  It creates a target storage group from source storage group using a snapvx.
https://github.com/dell/PyU4V/blob/master/PyU4V/tests/ci_tests/test_pyu4v_ci_replication.py#L123

[2020-09-10 16:36] helenwalsh commented on #96
Hi Gupta,
You will first need to create a storage group from the snapshot as you cannot attach a snapshot on the PowerMax/VMAX (see last post)
The storage group will need to belong to a masking view, that also contains an initiator group (containing the host initiator(s)) and a port group (containing ports to access the array).
There are good examples here.
https://github.com/dell/PyU4V/blob/maste

[2020-09-10 16:46] mukeshguptakc commented on #95
Hi Helenwalsh,

Thanks, for the reference i'll try that and see if that resolves the purpose.

[2020-09-10 16:55] mukeshguptakc commented on #96
Hi Helenwalsh,

Thanks, for the test references. I'll try the way you suggested.

Thankyou.

[2020-09-10 17:40] mukeshguptakc opened #97 "Restore a volume in a storage group from storage group snapshot."
Currently, we are working with VMax and PowerMax Array too qualify for snapshot orchestration.

For a restore scenario **restore_snapshot**, restores the storage group to its snapshot.
Can we restore a single volume from a storage group snapshot.

[2020-09-11 04:27] #97 closed, assigned to nobody

[2020-09-11 04:29] mukeshguptakc commented on #97
modify_snapshot would restore the storage group to previous state and the required volume can be fetched.

[2020-09-11 11:04] rawstorage commented on #97
the API works at the storage group level to restore a single volume you would need to place that volume in a storage group on it's own to restore just that volume.

A volume can be a member of multiple storage groups.
The things to remember here are
- That the new SG shouldn't be associated with SRP or have Service Level.
- Once the device is restored you need to terminate the restore session
- yo

[2020-09-14 08:51] mukeshguptakc commented on #97
Thanks, Paul.
I'll try out the restore as suggested.

[2020-09-14 13:28] #96 closed, assigned to helenwalsh

[2020-09-14 13:29] #95 closed, assigned to helenwalsh

[2020-11-05 16:55] globeid-dev opened #103 "Help needed choosing the correct PyU4V version"
Hello,
I've been using PyU4V==9.1.5.0 to connect to Unisphere ('V9.1.0.2', '91') for sometime and have been able to manage all operations just fine.
However I'm now trying to connect to Unispehere ("version": "V8.4.0.27") and unable to do so. I was wondering if I need to step down to PyU4V ver#3.1.7. And, will it let me connect to unispehere: 91 if I do so.

Any help is appreciated.
Thanks

conn =

[2020-11-05 17:17] rawstorage commented on #103
You should use version 3.x for unisphere versions lower than 9.1 this is documented in the docs here https://pyu4v.readthedocs.io/en/latest/installation.html

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: globeid-dev <notifications@github.com>
Sent: Thursday, November 5, 2020 4:55:37 PM
To: dell/PyU4V <PyU4V@noreply.github.com>
Cc: Subscribed <subscribed@no

[2020-11-05 17:18] helenwalsh commented on #103
Hi,
We only use the latest endpoint version since PyU4V 9.1.0.0 so U4P optimizations and bug fixes will be picked up by PyU4V.
You are correct in that you must install earlier PyU4V versions for 84 endpoints, e.g. 3.1.7
https://pypi.org/project/PyU4V/#history
pip install pyu4v==3.1.7

While you can connect to Unisphere for PowerMax 91 with PyU4V 3.1.7, you are missing out on potential optimization

[2020-11-05 19:19] globeid-dev commented on #103
Thanks.

[2020-11-05 19:19] #103 closed, assigned to nobody

[2020-11-08 18:26] mukeshguptakc opened #104 "Help needed to check progress of a restore Operation."
Hi,
I am using PyU4V= 9.1.3.0.
I am Performing a restore operation on a Storage group and while doing so, i am get restore State as In-Progress.
How do i check or wait for the job and get it as 'Restored'.
Following is the snippet i tried:
`
from contextlib import contextmanager

... def get_session():
...  try:
...   conn = PyU4V.U4VConn(username=username, password=password, server_ip=server_ip,

[2020-11-09 09:53] rawstorage commented on #104
HI,
you don't need to wait for the restore to complete before the data is available.  This is a long standing feature of our replication technologies.

The session will take some time to transition into a restored state and you can check this using the replication function get_snapshot_generation_details.

closing a session is enough to end your active session with conn.close_session()

Closing th

[2020-11-09 10:09] mukeshguptakc commented on #104
Thank you, @rawstorage.

[2020-11-16 10:18] #104 closed, assigned to rawstorage

[2020-12-07 13:08] v-soni11 opened #105 ""Recover" action is missing in modify_metrodr_environment operation"
Management UI supports, but missing in SDK. Please add

[2020-12-09 12:36] MichaelMcAleer commented on #105
Fix has been submitted in https://github.com/dell/PyU4V/pull/108, it will be merged to master when it passes review and gets clean CI overnight

[2020-12-14 16:30] MichaelMcAleer commented on #105
This fix has been merged to master, 'recover' option is available in PyU4V 9.2.0.4

[2020-12-14 16:30] #105 closed, assigned to rawstorage

[2021-01-22 12:08] rawstorage opened #111 "unlink expired snapshot gives error."
Function unlink_snapshot_by_snap_id when run against snapshot with expired TTL will produce an error.

[2021-01-22 13:45] mukeshguptakc opened #112 "Appreciation Post"
I would like to thank you for all your efforts in providing resolution, references, documents,  not just these, but doing all in record turnaround time.

Our Team at Veritas Technologies LLC were exploring way to qualify support for DELL EMC PowerMax and VMAX array.
and we came across PyU4V SDK (https://pyu4v.readthedocs.io/en/latest/) and while trying out the REST APIs we had few queries as follo

[2021-01-25 14:58] rawstorage commented on #112
Mukesh, thankyou for the feedback, it's always good to hear the positives, glad we are able to help.

[2021-01-25 14:58] #112 closed, assigned to nobody

[2021-01-25 14:59] rawstorage opened #113 "Metro DR"
add filter flag to return full config details on get_metrodr_environment_details function

[2021-01-28 11:08] rawstorage commented on #113
Done,

[2021-01-28 11:08] #113 closed, assigned to rawstorage

[2021-01-28 11:17] mukeshguptakc opened #114 "get_storage_group_snapshot_list fails if no snapshot exists"
Hello,

While using the Unisphere PyU4V 9.2 observed following exception:

The `conn.replication.get_storage_group_snapshot_list` raises an error if the storage group doesn't has any snapshots.
[code]

**Exception traceback**:
[code]
Ideally it should return a empty list as it was in PyU4V 9.1:
[code]

[2021-01-28 13:25] helenwalsh commented on #114
Thanks Gupta, we will will look into this.

[2021-01-28 15:23] rawstorage commented on #114
Mukesh, just curious where did you install this version, the latest on pip is 9.2.0.4 and on github it's 9.2.0.5?, just curious

[2021-01-29 14:44] ktelep opened #115 "Installation of 9.2.0.x fails for Python 3.9.1"
Appears that Python 3.9.1 is the latest stable release and is the default download for Windows from python.org.   Looks like setup.py just needs to be inclusive of 3.9.1, as this change on my system works, but didn't know what additional testing may need to be done before this update is made to the package as a whole.

It appears the addition of python_requires to setup.py is the culprit, and why

[2021-02-01 13:52] helenwalsh commented on #115
Thank you for bringing this to our attention.  It may not factor the patch number in the following line

python_requires='>=3.6, <=3.9',

We will look into this.
Kind regards,
Helen

[2021-02-03 06:24] mukeshguptakc commented on #114
Hi Paul,

I am not sure, to where the V9.2.0.6 is referring at..

I tried installing PyU4V==9.2.0.4 on a completely new setup.

[code]

And Post that i am still observing the same version as follow:
[code]
I have always used `pip install `for getting the` PyU4V Library`

[2021-02-03 07:20] mukeshguptakc commented on #114
Hi Paul,

The version 9.2.0.6 is the Unipshere Management console version:
![Screenshot 2021-02-03 at 12 48 27 PM](https://user-images.githubusercontent.com/34023745/106711945-4d7cab00-661e-11eb-8b8e-cda1cf2fba7d.png)

[2021-02-03 10:46] rawstorage commented on #114
ok, that makes more sense, it's the unisphere version not PyU4V release.

[2021-02-03 12:15] helenwalsh commented on #115
This has been fixed in PyU4V 9.2.0.7.  Please let us know if you have any further issues.  Thank you.

[2021-02-03 12:15] #115 closed, assigned to nobody

[2021-02-03 12:19] helenwalsh commented on #114
Hi Mukesh,
This has been fixed in PyU4V 9.2.0.7.  Please let us know if you have any further issues.  Thank you.

[2021-02-03 12:19] #114 closed, assigned to nobody

[2021-02-12 10:14] ocarm opened #117 "Discussions"
Hi,
Sorry i have not found how to open a discussion. Is there any plan to implement remoteSymmSGInfoParam when adding or deleting a volume in a storage or  -keepR1 param to delete a volume in a SRDF Metro pairing ?

Exemple :
[code]

[2021-02-12 10:39] rawstorage commented on #117
Olivier, I can have a look, in the meantime if you use the method https://pyu4v.readthedocs.io/en/latest/quick_start.html any functionality that is missing in the SDK can be overcome by creating your own method.

https://pyu4v.readthedocs.io/en/latest/quick_start.html#perform-a-custom-rest-call-in-pyu4v

[2021-02-12 12:49] ocarm commented on #117
Hi Paul,

Thanks, i will look at these functions.

[2021-03-16 08:48] dattaarindam opened #120 "Add support for get the list of storage groups for a snapshot policy"
It would be great if we can get support for getting the list of storage groups for a snapshot policy in PyU4V. Thanks in Advance.

[2021-03-22 10:46] dattaarindam opened #121 "Add support for 'Get the storage group snapshot IDs for a snapshot policy'"
Add support for 'get the storage group snapshot IDs for a snapshot policy'

[2021-03-23 13:40] mukeshguptakc opened #122 "Help needed for IPv6 Fetching of Unipshere APIs"
Hello,
Currently, we are using PyU4V 9.2.1.2.

I am trying to fetch the REST API version using the IPv6 configured with Unipshere.

I am able to  get Unipshere REST API version using for Ipv4:
`https://{unisphere_ip}:8443/univmax/restapi/version`

But it fails when we access with Ipv6:  as unreachable
`'https://{server_ip}:{port}/univmax/restapi/version'.format(server_ip=self._server_ip, port=self

[2021-03-24 11:51] helenwalsh commented on #122
Hi Mukesh, we will investigate Unisphere using IPV6.  It is not something we have tested to date using PyU4V

[2021-03-24 11:52] rawstorage commented on #122
Mukesh, is the unsiphere console available through https://[Unisphere_IPv6_IP]:8443/univmax/

also can you try port 8443, not 5480 5480 is the vapp manager

https://[Unisphere_IPv6_IP]:8443/univmax/restapi/version

[2021-03-24 12:02] mukeshguptakc commented on #122
Hi @rawstorage

Thanks, for confirming the Unipshere Port.
Yes, for IPv4 we are using the Unipshere port as 8443 and that worked for us.

we just wanted to know while calling the Pyu4V object for IPv6

the server_ip would be
[code]

 Does the PyU4V needs any handling for IPv6 or we can directly pass the way we do it for IPv4
[code]

[2021-03-24 12:08] helenwalsh commented on #122
Hi Mukesh,
It should be without the square brackets.

server_ip=server_ip
port=<port of u4p>

[2021-03-24 12:14] mukeshguptakc commented on #122
Thanks, @helenwalsh.

[2021-03-24 12:14] #122 closed, assigned to nobody

[2021-03-24 16:10] mukeshguptakc opened #123 "Discussion Help needed on unlinking snapshot"
Hello,

we are currently using PyU4V 9.2.1.2.

I have query on unlinking snapshot by snapid:
**I want to know is there a way from which i can find the linked storage group or atleast clean_up these snapshots that are linked.**

We are able to fetch the snapshot info:
[code]

[code]

But i am unable to find to which storage group it is linked.
Based on using same name when we link i tried the follo

[2021-03-24 16:34] rawstorage commented on #123
Mukesh, I have an enhancement filed for this, unfortunately the current API doesn't have a filter to pick out the linked storage groups easily.  I've been controlling this myself with naming conventions which make it easier.  Once it's in the API it will be in  PyU4V

[2021-03-24 16:39] mukeshguptakc commented on #123
Thanks, Paul.

is there a way to delete the linked snapshots ?
Using the source storage group and snap name and snapid.

[2021-03-24 16:43] rawstorage commented on #123
yes,  you need to unlink first then you can terminate the snapshot.  If there is a time to live set and it has expired,  the snapshot will automatically get terminated as soon as the unlink is executed.

[2021-03-24 16:47] rawstorage commented on #123
The two functions you need are
unlink_snapshot_by_snap_id
delete_storage_group_snapshot_by_snap_id

[2021-03-30 08:28] rawstorage commented on #120
added in 9.2.1.3

[2021-03-30 08:28] #120 closed, assigned to rawstorage

[2021-03-30 08:30] #123 closed, assigned to nobody

[2021-03-31 10:22] rawstorage commented on #117
Oliver, I'm finally getting around to look at these changes, which functions were you specifically asking for the keepR1 Parameter?

[2021-03-31 13:32] ocarm commented on #117
in replication.py : **delete_storage_group_srdf**
when you want to remove a volume or break a pairing in a SRDF/M rdf group.

The keepR1 pquery parameter that i'm talking about  :
/91/replication/symmetrix/{symmetrixId}/storagegroup/{storageGroupId}/rdf_group/{rdfgNumId}

DELETE

delete SRDF pairing for a particular RDFG
Parameters
name | description | type | default
-- | -- | -- | --
symmetrixId

[2021-03-31 15:14] rawstorage commented on #117
so adding the options to delete_storage_group_srdf should be enough to acomplish this, if I add a filters option where you can pass these as a dictionary, this should do the trick for you?

[2021-03-31 15:18] rawstorage commented on #117
suggested implementation would allow for all,
 :param filters: optional boolean filters, half_delete,hop2, force,
                        symforce,star,bypass,keepR1, keepR2,
                        e.g. filters={'keepR1': 'true'}  -- dict

[2021-03-31 15:30] ocarm commented on #117
It seems fine to me. Thanks !

[2021-04-21 19:07] lafada opened #125 "Setting verify to False not ignore the SSL"
I am trying to get bypass SSL by passing `verify=False` but it still try to validate SSL.

[code]

How can I disable SSL or Pass certs to this method ?

[2021-04-21 20:20] lafada commented on #125
@rawstorage can you check this when you get time ?

[2021-04-21 20:32] rawstorage commented on #125
I'll have a look can you let me know version of pyu4v and also Unisphere?

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Nilesh ***@***.***>
Sent: Wednesday, April 21, 2021 9:20:33 PM
To: dell/PyU4V ***@***.***>
Cc: Martin, Paul ***@***.***>; Mention ***@***.***>
Subject: Re: [dell/PyU4V] Setting verify to False not ignore the SSL (#125)

[EXTERNAL EMAIL]

[2021-04-22 01:21] lafada commented on #125
@rawstorage PyU4V is latest [`9.2.1.3`](https://pypi.org/project/PyU4V/9.2.1.3/) and Unisphere version is `{"version":"V9.2.1.6"}`.

I also found the issue in `requests` (https://github.com/psf/requests/issues/3829) which is related to this. Where setting `session.verify` not ignore the SSL.

[2021-04-22 01:35] lafada commented on #125
@rawstorage I am planing to do like below code

[code]

But if you think, we might get fix for this quickly, then I don't want to change my code base.

[2021-04-22 07:58] rawstorage commented on #125
@lafada I am not seeing this issue in any of our CI Testing or when running manually.

import PyU4V

REST=PyU4V.U4VConn(username='secretuser', password='notyourbusiness',
                               server_ip='IPaddress', verify=False,
                               array_id='000297600111')

print (REST.common.get_uni_version())

"C:\Program Files\Python38\python.exe" C:/Users/rawstorage/AppDat

[2021-04-22 08:47] helenwalsh commented on #125
Apologies if I am stating the obvious but are your configuration options in PyU4V.conf one of
verify=False or verify=<path to cert>.  If there is something wrong here we need to look at our error handling

Paul's script above will prove that the False option is working

Consult the following to enable SSL
https://pyu4v.readthedocs.io/en/latest/configuration.html

[setup]
username=*****
password=**

[2021-04-22 16:51] lafada commented on #125
@rawstorage are you talking about to try this ?

[code]

What I tried is `rest_client.py` has session settings as https://github.com/dell/PyU4V/blob/master/PyU4V/rest_requests.py#L69-L78. I tried same base code, see below

[code]

The point is, when you [`session.verify`](https://github.com/psf/requests/blob/master/requests/sessions.py#L397), its not pass that value to [`request`](https://github.c

[2021-04-22 16:52] lafada commented on #125
@helenwalsh I am not giving any configuration, I am passing `verify=False` in my connection parameter.

[2021-04-22 18:03] rawstorage commented on #125
my test runs no issues

[root@ansible ~]# curl https://ipaddress:8443/univmax/restapi/version -u $USER:$PASS
curl: (60) Issuer certificate is invalid.
More details here: http://curl.haxx.se/docs/sslcerts.html

curl performs SSL certificate verification by default, using a "bundle"
 of Certificate Authority (CA) public keys (CA certs). If the default
 bundle file isn't adequate, you can specify an

[2021-04-23 13:56] lafada commented on #125
@rawstorage can you show in code, like requests or PyU4V, when you pass `verify=False` it actually use that `False` value when you do `session.request` method call ?

I check the `requests.sessions.Session` code, and I also send the links in my last questions, where its not using `session.verify` to `session.request` method. I just want to see how it works in your scenario.

[2021-04-23 14:27] rawstorage commented on #125
I can run-through the debugger Monday. And send some screenshot
________________________________
From: Nilesh ***@***.***>
Sent: Friday, April 23, 2021 2:56:20 PM
To: dell/PyU4V ***@***.***>
Cc: Martin, Paul ***@***.***>; Mention ***@***.***>
Subject: Re: [dell/PyU4V] Setting verify to False not ignore the SSL (#125)

[EXTERNAL EMAIL]

@rawstorage [github.com]<https://urldefense.com/v3/__https://g

[2021-04-23 15:21] lafada commented on #125
thanks

[2021-04-26 14:26] lafada commented on #125
I just want to show you what my findings are

PyU4V create `rest_client` variable at https://github.com/dell/PyU4V/blob/master/PyU4V/univmax_conn.py#L111-L114, where `self.request = self.rest_client.rest_request`.

We pass `verify=False` in the `self.rest_client = RestRequests(username, password, verify, base_url, interval, retries, application_type)`, when we check use of `verify` in `RestRequest

[2021-04-26 15:42] helenwalsh commented on #125
Hi,
I ran the debugger through our PyU4V code and traced the verify value and performed 3 tests
1. verify = False
2. verify = <valid cert>
3. verify = <misspelt cert>

The results were as expected.  The first 2 tests succeeded and the 3rd failed with the following error
"Could not find a suitable TLS CA certificate bundle, invalid path: ca_cert_10_69.pem"

This code is not new to this version of P

[2021-04-26 15:43] helenwalsh commented on #125
the brackets remove the examples

1. verify = False
2. verify = my_valid_cert
3. verify = my_misspelt_cert

[2021-04-26 20:41] uwekerner opened #126 "OSError('Tunnel connection failed: 502 Bad Gateway')"
Hello,

I have been writing some scripts in Python using PyU4V. I did my POC on Windows without any issues. I am now trying to port this to Redhat (Red Hat Enterprise Linux Server release 5.11 (Tikanga)) to integrate the Python scripts with a webserver.

I am pretty sure my config on RH is solid but I am getting a "OSError: Tunnel connection failed: 502 Bad Gateway" error when trying to connect. I

[2021-04-27 08:22] rawstorage commented on #126
Dell Customer Communication - Confidential

Are you able to ping to the uniaphwre server also are you able to run a curl command to perform a simple get from the linux server.
curl -H "Content-Type: application/json" -X POST https://ipaddress:8443/univmax/restapi/version --insecure -u smc:smc

________________________________
From: uwekerner ***@***.***>
Sent: Monday, April 26, 2021 9:41:51 PM
To:

[2021-04-27 09:36] rawstorage commented on #126
I had a RedHat server so I've setup the same as you, my unisphere server is 9.2 but I'm using version 9.1.5.0 of PyU4V meaning I'm going to the same endpoints and get same behavior as you.  Everything works as expected
[root@localhost /]# python3 test.py
No array id specified. Please set array ID using U4VConn.set_array_id(array_id).
('V9.2.1.1', '92')
[root@localhost /]# python3 -V
Python 3.9.1
[

[2021-04-27 11:28] lafada commented on #125
yes, I agree, @helenwalsh but can you check where the `verify=False` use in `requests.sessions.Session.request` method ? Let me know the suitable channel to meet.

[2021-04-27 11:36] helenwalsh commented on #125
Hi,
Yes, everything checked out with the verify parameter in the 3 use cases above.  I have had another look over your code snippet above, we can discuss at the meeting.

[2021-04-27 11:47] lafada commented on #125
yes, I agree, it work on you environment, but I am talking about `requests`, because requests has issue https://github.com/psf/requests/issues/3829, which says `session.verify` not use in `sessions.Session.request` method, and I am curious how it not effect `PyU4V`.

[2021-04-27 11:59] lafada commented on #125
got it, @helenwalsh somewhere it set `REQUESTS_CA_BUNDLE` and that cause the issue :)

[2021-04-27 11:59] lafada commented on #125
Thanks for your help @helenwalsh and @rawstorage

[2021-04-27 12:03] lafada commented on #125
now, I am setting `REQUESTS_CA_BUNDLE` as `''` and that means it will not use those path, but the problem still exists. Try to set `REQUESTS_CA_BUNDLE` and set `verify=False` and see the magic :)

[2021-04-27 13:42] uwekerner commented on #126
Thank you for your answer. I logged on to the VM to capture the output to answer your questions and guess what, it is working now! I am wondering if it was the proxy which I turned off but maybe not in all of the terminal windows. So this could have been an user issue. Thank you again.

[2021-04-27 13:58] rawstorage commented on #126
No worries, glad to have been able to help, let us know how you're doing with PyU4V and any feedback is always appreciated.

[2021-04-27 13:58] #126 closed, assigned to nobody

[2021-04-27 14:21] helenwalsh commented on #125
Hi,
Interesting!  One we have not come across before.  Thank you for persisting.  Out of curiosity did you try with a valid cert?

[2021-05-05 07:40] rawstorage commented on #117
Olivier,
I have these changes added to https://github.com/dell/PyU4V/tree/92/consistency_disable branch as discussed.  Can you have a look and see if you like the change.

[2021-05-05 12:59] caribou90 opened #127 "add only on flags to create host"
Hello
is it possible to add flags to create a host without complet all flags item. ?Now its mandatory to selected each flags but for us only the flag "consistent_lun" is necesary.

When we try we had a INVALID :
INVALID :
{"hostId":"toto","hostFlags":{"volume_set_addressing":{"enabled":,"override":},"disable_q_reset_on_ua":{"enabled":,"override":},"environ_set":{"enabled":,"override":},"avoid_rese

[2021-05-07 07:59] ocarm commented on #117
Paul,
I have currently  no unisphere 9.2 environnent at my disposal so I've only look at the code. It seems to fullfill my expectation.

[2021-05-11 15:12] rawstorage commented on #127
unfortunately you need to supply all this is a "feature of the API" not a restriction of PyU4V.   You could do something like we've done here and create a dictionary of base flags you can reference and update.
 https://github.com/rawstorage/dellemcpmax_ansible/blob/ccb7ba0ea1461c1398378ebf24037dabcabf5049/dellemc/dellemc_pmax_host.py#L221

[2021-05-11 15:13] rawstorage commented on #117
Fix delivered in 9.2.1.4 just released

[2021-05-11 15:13] #117 closed, assigned to rawstorage

[2021-06-04 13:58] Rocking80 opened #129 "conn.provisioning.get_director_port cannot get mac address of a Gige port"
`conn.provisioning.get_director_port` cannot get mac address of a Gige port.

[code]

Is possible add the mac address to the response? Or is there any other function I missed? Thanks.

[2021-06-04 14:49] rawstorage commented on #129
Hi,
I believe this was added to the response in unisphere 9.2 what version are you running exactly?

Sent from a mobile device. Typos are inevitably going to happen. Please excuse them.

________________________________
From: Peng Wang ***@***.***>
Sent: Friday, June 4, 2021 2:58:21 PM
To: dell/PyU4V ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [dell/PyU4V] conn.provisioning.get_director_port

[2021-06-05 03:41] Rocking80 commented on #129
Thanks for the response, @rawstorage .
The version of PyU4V I installed is 9.2.1.4.

[code]

And the Unisphere connected is version V9.2.0.6

[2021-06-05 09:08] rawstorage commented on #129
What version of unisphere is it using? I'll check next week when I'm in the office that I can get the information

Sent from a mobile device. Typos are inevitably going to happen. Please excuse them.

________________________________
From: Peng Wang ***@***.***>
Sent: Saturday, June 5, 2021 4:41:47 AM
To: dell/PyU4V ***@***.***>
Cc: Martin, Paul ***@***.***>; Mention ***@***.***>
Subject: Re: [del

[2021-06-05 14:08] Rocking80 commented on #129
The  unisphere version is V9.2.0.6

[2021-06-08 13:01] rawstorage commented on #129
Hi I have just verified this agains Unisphere 9.2.1.2 and MAC address is returned at this level, also you get the light levels.
{
    "symmetrixPort": {
        "symmetrixPortKey": {
            "directorId": "SE-2F",
            "portId": "9"
        },
        "port_status": "ON",
        "director_status": "Online",
        "type": "GigE",
        "num_of_cores": 6,
        "negotiated_speed":

[2021-06-08 13:01] #129 closed, assigned to nobody

[2021-06-10 10:50] Rocking80 commented on #129
OK, thanks @rawstorage , I will try to upgrade unisphere to 9.2.1.2

[2021-06-24 10:05] MichaelMcAleer opened #130 "REST Session Timeout not behaving as expected"
During development of PyU4V features breakpoints were added to Unisphere to investigate server side actions during calls.

It was noticed that instead of timing out after 120 seconds by default as set [here](https://github.com/dell/PyU4V/blob/19592e624713f46d9c61fe8feab65b1df90a7dd7/PyU4V/rest_requests.py#L50) and returning a `requests.Timeout` exception, an erroneous `PyU4V.utils.exception.Volume

[2021-06-24 10:49] helenwalsh commented on #130
Thanks Michael.  We will take a look at this.

[2021-08-18 11:39] lafada commented on #125
@helenwalsh yes, with valid certs its working.

[2021-09-04 12:35] tomaszajpt opened #131 "Please add force option to functions"
Please add force and symforce option to functions. I'm using pyU4V for create/delete snapshot generations and when someone add new disk to storage group, then delete generations fail without force options.

Fix is simple, just add params to call self.delete_resource in delete_storage_group_snapshot method.
''
            object_type=GENERATION, object_type_id=str(gen),**params={'force': force})**

[2021-09-06 06:46] rawstorage commented on #131
Hi Tomas,  we can look at adding this in future release.  If you need this function in the mean time you can use the method described in the doc to make a custom call,
rest =  PyU4V.U4VConn()
        rest.common.delete_resource(
            category=REPLICATION,
            resource_level=SYMMETRIX, resource_level_id=self.array_id,
            resource_type=STORAGEGROUP, resource_type_id=storage_g

[2021-09-08 06:00] rajendraindukuri opened #132 "Getting error "The requested host resource already exists" for modify operation"
We are working on automating workflows for Hosts.

When we run the automation in the following sequence:
1.Try to create a host with incorrect initiators through ansible playbook - **The playbook errors out but creates an empty host.**
2. Try to modify the created empty host using ansible playbook with valid initiators through automation. This operation fails with below message:
**"msg": "Create h

[2021-09-08 09:06] helenwalsh commented on #132
Hi Rajendra,
Just a guess at this stage but if you are not enabling _async = True, you may need to do so
https://github.com/dell/PyU4V/blob/master/PyU4V/provisioning.py#L170
https://github.com/dell/PyU4V/blob/master/PyU4V/provisioning.py#L200

Based on what you are saying, the POST "create error msg" is coming in after the modification (which by right it should not do) but it might be worth checki

[2021-09-08 17:59] rajendraindukuri commented on #132
Hi @helenwalsh ,
Thanks for responding.

We are not passing any value for _async from our modules which means it is picking by default _async=False.
As mentioned, for create operation with invalid initiators, it throws an error but creates an empty host which we verified in Unisphere.

We can test the behavior by passing _async=True but need to check if it meets our design criteria. Will let you k

[2021-09-10 08:59] helenwalsh commented on #132
Hi Rajendra,
Thank you for all the details.  It seems if the initiators are invalid in the create scenario then an empty host should not be created and a modify should not be attempted.  This is a cleanup issue and we will speak with the REST team.

However I am a little concerned why the error on the modify is POST error when it should be a PUT.  This suggests a delayed response from the create h

[2021-09-13 14:13] helenwalsh commented on #132
Hi Rajendra,
Apologies for the delay in getting back to you.  I wrote the following to see if I could reproduce.  I am using Unisphere for PowerMax V9.2.1.8
I am going to ask the REST team to see if an empty host should be created if the initiator(s) is invalid.
That said I had no issue with modifying the empty host to add a valid initiator.  I did not enable _async=True

I would suggest upgrading

[2021-09-14 14:57] rajendraindukuri commented on #132
Hi @helenwalsh ,

Thanks for the response.
We will try replicating the same on Unisphere V9.2.1.8 as you suggested.

Would like to give few more details about the replication. Please find our observations below:
1. It works fine when we run the create operation (with invalid initiators) and after that modify operation on that empty host (created when we try create host operation with invalid initi

[2021-09-21 10:04] helenwalsh commented on #132
Hi Rajendra,
I spoke with the REST team and there is no immediate plan to do rollback of hosts if the initiators are invalid, as apparently it is a big undertaking.  I was not able to reproduce it on my system (without breaks) but that is probably because we have a similar environment to point 2. above.
2.  It also works fine when we run our automation on an array which is slow without giving any

[2021-10-14 16:17] helenwalsh opened #133 "Allow for 92 endpoint to be used in later versions of U4V"

[2021-10-18 17:14] rajendraindukuri commented on #132
@helenwalsh Thanks for your inputs. We tried with _async=True and it works when we test it independently. But as per our automation environment, we run multiple tasks in a single playbook which involve idempotent cases and also dependent test cases (Eg: modifying a host group)  .So in our case if we don't put a delay between the tasks even if it is async call, automation runs in this scenario are

[2021-12-13 09:50] Jennifer-John opened #139 "Support for creating and renaming volumes with "identifier_name + volume_id""
While trying to create volumes using add_new_volume_to_storage_group() in provisioning.py, the volumeIdentifierChoice is by default set as 'identifier_name'. We are trying to create volumes with volume identifier as name + volume id.
Similar behaviour is observed in the rename_volume() in provisioning.py.

Will there be a support from SDK for creating volumes with volume identifier as name + volum

[2021-12-13 10:01] Jennifer-John opened #140 "Renaming identifer in volume throws error"
On invoking rename_volume() in provisioning.py, if the identifier name has spaces, the below error is thrown
<img width="909" alt="Code_zumLU9GQ1G" src="https://user-images.githubusercontent.com/26104866/145791084-69627b18-45f0-4796-a9f4-782d25f1d19a.png">

However, on creating a volume with identifier having spaces by invoking add_new_volume_to_storage_group() in provisioning.py does not throw th

[2021-12-13 10:28] rawstorage commented on #140
I believe this is a bug in unisphere spaces are not supposed to be accepted. I will follow up with developers

Sent from a mobile device. Typos are inevitably going to happen. Please excuse them.
________________________________
From: Jennifer-John ***@***.***>
Sent: Monday, December 13, 2021 10:02:00 AM
To: dell/PyU4V ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [dell/PyU4V] Renaming identif

[2021-12-13 10:29] rawstorage commented on #139
I'll have a look at this one and ensure that it's addressed in the next release

Sent from a mobile device. Typos are inevitably going to happen. Please excuse them.
________________________________
From: Jennifer-John ***@***.***>
Sent: Monday, December 13, 2021 9:50:54 AM
To: dell/PyU4V ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [dell/PyU4V] Support for creating volumes with "identifier_n

[2021-12-13 10:38] helenwalsh commented on #139
Hi,
We don't see this being a problem.  Thanks for the suggestion.
Kind regards,
Helen

[2021-12-13 10:38] helenwalsh commented on #140
We have confirmed this issue.  Please bear with us and we will investigate
Kind regards,
Helen

[2021-12-22 10:37] Jennifer-John opened #141 "Regarding support on retrieving initiators based on the alias name"
Hi team,

In reference to the initiators functionality,  is it possible to retrieve initiators based on the alias name?
Would there be any support added for the same?

I have tried to apply the alias filter on https://ip:port/univmax/restapi/90/sloprovisioning/symmetrix/id/initiator?alias='test/host' but it does not seem to return the matching initiator Id's. The corresponding SDK method get_initi

[2021-12-30 14:55] prolly-brent opened #142 "PMAX8000 Firmware Update Breaks get_replication_info()"
EMC recently updated our PMAX8000 to ucode level 5978.711.711.  Immediately after the update, the "get_replication_info() API module began erroring with:

Traceback (most recent call last):
  File "./check_pmax_cache_rdp.py", line 76, in <module>
    result = conn.replication.get_replication_info()
  File "/opt/rh/rh-python36/root/usr/lib/python3.6/site-packages/PyU4V/replication.py", line 78, in

[2022-01-04 09:27] rawstorage commented on #142
Hi Brent, are you able to connect to the Unisphere instance?,  I know as part of the upgrade the embedded Unipshere instance will be inaccessible for a few minutes but once it's back PyU4V should be able to communicate.  If you can add the SR number I should be able to get your contact details from that and reach out direct.

edit:: seems like the issue is with the endpoint being used by replicati

[2022-01-04 09:32] rawstorage commented on #141
Jennifer, PyU4V is simply wrapping the API and the filters passed are those of the corresponding API call for Unipshere for PowerMax the list of initiators API call and filters are documented here
https://developer.dell.com/apis/4458/versions/9.2/openapi.json/paths/~192~1sloprovisioning~1symmetrix~1%7BsymmetrixId%7D~1initiator/get

It looks like alias is supported however from experience you proba

[2022-01-04 09:32] #141 closed, assigned to rawstorage

[2022-01-04 09:55] Jennifer-John commented on #141
Thank you Paul for the response.

[2022-01-04 14:29] prolly-brent commented on #142
Hi Paul,

Thanks for getting back with me.  We did verify with EMC through direct REST API calls that there is an issue with the /92 replication endpoint.  It works fine in /91.  We are currently running version 9.2.2.2 of Unisphere and according to your response we may need to update.  I have passed that information along to EMC support who we are still waiting on for a solution.  The SR# is 1296

[2022-01-04 14:32] rawstorage commented on #142
I'll log a note in the SR for support quoting OPT to reference this issue, no bug in PyU4V.

[2022-01-04 14:32] #142 closed, assigned to rawstorage

[2022-01-05 03:58] travatine opened #143 "In provisioning.py allow specifying emulation type"
For mainframe storage I need to specify emulation CKD instead of FBA.

In these functions:
 create_storage_group
 add_new_volume_to_storage_group
a new parameter is needed to allow this.

To maintain compatibility with existing api the new parameter should have a default value of 'FBA'.

I'll open a pull request with the required changes.

[2022-01-06 05:48] travatine opened #145 "How can I provision mainframe storage using the python (or Rest) API?"
On the unisphere web interface it is possible to "provision" storage groups for mainframe.

The wizard allows "CU Images" to be created or selected:
![image](https://user-images.githubusercontent.com/17565183/148334700-6cda2c43-e8b2-4417-b422-a2461b5da0b3.png)

Summary:
![image](https://user-images.githubusercontent.com/17565183/148334834-90ec8654-811c-4b54-b03d-8bf174aa6e0e.png)

Is it possible t

[2022-01-06 10:15] rawstorage commented on #145
Hi Travis,
Unfortunately the calls for PyU4V to create the CU images have not been implemented as we have not had any mainframe requests yet, great to see that you are using this and we are happy to help.

There are API calls to do this which is good news for you.  you can use the existing PyU4V infrastructure to make any API call you need once you know what it is, the process is documented here

[2022-01-07 08:13] travatine commented on #145
Thanks this is exactly what I need.
I'll try out the custom APIs interface for managing CUs

[2022-01-07 12:05] travatine commented on #145
Hi @rawstorage ,

I've coded up some functions for Splits & CU images here https://github.com/travatine/PyU4V/commit/ba7e57fc987f1b4b2fa6f928209b114f03b54001

I was wondering if it is normal for "CU Image" operations to take several minutes?
For example, when I "unmap a single volume from a CU image", in the Unisphere web interface it takes almost 6 minutes:

![image](https://user-images.githubuse

[2022-01-20 14:51] helenwalsh opened #146 "test only"

[2022-01-20 16:31] #146 closed, assigned to nobody

[2022-02-03 12:28] helenwalsh commented on #143
closed in pull request 148

[2022-02-03 12:28] #143 closed, assigned to nobody

[2022-06-27 11:11] Pavan-Mudunuri opened #149 "Specifying the file path for certificates"
As part of the customer requirement we are required to Add support for specifying file paths for the SSL certificates, can you please let us know if this is possible through SDK or any alternate method to do the same.
Thanks,
Pavan

[2022-07-01 13:25] #149 closed, assigned to nobody

[2022-07-18 10:26] #111 closed, assigned to rawstorage

[2022-07-18 10:26] #125 closed, assigned to nobody

[2022-07-18 10:27] #127 closed, assigned to rawstorage

[2022-07-18 10:30] rawstorage commented on #139
fixed in 10.0

[2022-07-18 10:30] #139 closed, assigned to nobody

[2022-07-25 12:55] rawstorage commented on #145
Closing issue, UI and REST giving similar speed, this is normal.  Mainframe supported added in 9.2

[2022-07-25 12:55] #145 closed, assigned to nobody

[2022-07-25 12:56] #130 closed, assigned to nobody

[2022-08-12 09:51] rawstorage commented on #140
issue is being looked at by Unipshere team this is not an issue with PyU4V

[2022-08-12 09:51] #140 closed, assigned to nobody

[2022-09-02 18:14] murugesanmadappan opened #151 "I need to get only linked snapshot from storage group."

[2022-09-05 08:46] rawstorage commented on #151
Hi @murugesanmadappan there is no easy way to list only linked snapshots from a storage group without iterating over them.  The easier way is to list storage groups that have snapshots linked to them.

I've generated a sample function here, we need to add the option to the SDK.  if you use the is_link target variable and set to true you can get a list of storage groups that are linked to snapshots

[2022-09-05 20:40] murugesanmadappan commented on #151
thank you very much i will try with this.

[2022-09-19 15:08] Rafmoshe2500 opened #152 "Link one tdev to another tdev"
Hi,
I want to restore only one tdev from a storage group that contains a lot of tdevs (32 and maby more).
But i cant found a way to do that in the python library and in the rest api

The only way to do that is from the solution enabler via ssh.

I realy hope to see that function added in the next version.

Thanks.

[2022-10-07 09:42] arthurzenika opened #153 "Support for proxies in requests"
It would be nice to be able to configure proxies for the HTTP requests.

Using https://requests.readthedocs.io/en/latest/user/advanced/?highlight=proxies#proxies it could be introduced on the `requests.session` object https://github.com/dell/PyU4V/blob/master/PyU4V/rest_requests.py#L69

[2022-11-17 13:49] arthurzenika commented on #153
I've contributed a modification for the 9.2 branch since this is where my primary need comes from. Do you want the equivalent pull request for the 10.0 branch ? or on master ?